# import.meta.env.VITE_API_ENDPOINT
VITE_API_ENDPOINT=
VITE_DATADOGE_RUM_APPLICATION_ID="daatadog-app-id"
VITE_DATADOG_RUM_CLIENT_TOKEN=datadog-client-token
VITE_DATADOG_RUM_SERVICE=worth-dev-rum
VITE_DATADOG_RUM_ENV=development
VITE_USERPILOT_APP_TOKEN=""
VITE_LD_CLIENT_KEY=""
VITE_REMOTE_DASHBOARD=