#KAFKA
CONFIG_KAFKA_BROKERS=b-1.worthaidevkafka.89js22.c8.kafka.us-east-1.amazonaws.com:9096,b-2.worthaidevkafka.89js22.c8.kafka.us-east-1.amazonaws.com:9096
CONFIG_KAFKA_AI_SCORE_TOPIC=scores.ai.v1
CONFIG_KAFKA_AI_SCORE_DLQ_TOPIC=scores.ai.dlq.v1
CONFIG_KAFKA_AI_GENERATE_SCORE_EVENT=generate_ai_score_event
CONFIG_KAFKA_AI_SCORE_GENERATED_EVENT=ai_score_generated_event
CONFIG_KAFKA_CONSUMER_GROUP_ID=worth-ai-score
#KAFKA DATAPLATFORM
CONFIG_KAFKA_AI_SCORE_DATAPLATFORM_TOPIC=scores.ai.dataplatform.v1
CONFIG_KAFKA_AI_SCORE_DLQ_DATAPLATFORM_TOPIC=scores.ai.dataplatform.dlq.v1
#KAFKA CREDENTIALS
CONFIG_KAFKA_SASL_USERNAME=worthai_dev_kafka
CONFIG_KAFKA_SASL_PASSWORD=passwordhere
#MODEL
CONFIG_MODEL_FILE_PATH=./modelv2.2.rev2/model_v2-2_2024-07-22.pkl
CONFIG_MODEL_EXPLAINER_FILE_PATH=./modelv2.2.rev2/explainer_v2-2_2024-07-22.pkl
CONFIG_MODEL_FEATURE_GROUP_MAPPING_CSV_PATH=./modelv3.0/v3_field_grps.csv
CONFIG_TARGET_ENCODER_FILE_PATH=./modelv2.2.rev2/encoder_v2-2_2024-07-22.pkl
CONFIG_MODEL_VERSION=3.0
#S3INTEGRATION
CONFIG_S3_INTEGRATIONS_DUMP=worthai-prod-integrations-raw-data
#AWS
AWS_ACCESS_KEY_ID="YOUR_AWS_ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY="YOUR_AWS_SECRET_ACCESS_KEY"
AWS_SESSION_TOKEN="YOUR_AWS_SESSION_TOKEN"
#OR AWS ServiceAccount 
CONFIG_AWS_ACCESS_KEY_ID="CONFIG_AWS_ACCESS_KEY_ID"
CONFIG_AWS_ACCESS_KEY_SECRET="CONFIG_AWS_ACCESS_KEY_SECRET"

CONFIG_MODEL_PREPROCESSOR_PATH="./modelv3.0/preprocessor.pkl"
CONFIG_MODEL_MISSING_FEATURE_PATH="./modelv3.0/missing.pkl"
CONFIG_MODEL_NAICS_TRANSFORMER_PATH="./modelv3.0/naics_transformer.pkl"
CONFIG_MODEL_ENCODER_PATH="./modelv3.0/encoder.pkl"
CONFIG_MODEL_IMPUTER_PATH="./modelv3.0/imputer.pkl"
CONFIG_MODEL_INITIAL_LAYER_PATH="./modelv3.0/initial_layer.pkl"
CONFIG_MODEL_SCALER_PATH="./modelv3.0/scaler.pkl"
CONFIG_MODEL_SECOND_LAYER_PATH="./modelv3.0/second_layer.pkl"
CONFIG_MODEL_NEURAL_LAYER_PATH="./modelv3.0/monotone_net_final.pt"
CONFIG_MODEL_QUANTILER_PATH="./modelv3.0/quantiler.pkl"
CONFIG_MODEL_CALIBRATOR_PATH="./modelv3.0/calibrator.pkl"

PYTHON_ENV="development"