{
  "openapi": "3.1.0",
  "info": {
    "title": "Auth Service",
    "version": "1.0.0",
    "description": "API documentation for Auth Service"
  },
  "servers": [
    {
      "url": "https://api.joinworth.com/auth/api/v1",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "SuccessResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Success"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "success",
                    "failure"
                  ],
                  "example": "success"
                }
              }
            }
          }
        }
      },
      "BadRequest": {
        "description": "Invalid Request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Error occurred"
                },
                "errorCode": {
                  "type": "string",
                  "example": "ERR_INTERNAL_SERVER"
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Unauthorized"
                },
                "errorCode": {
                  "type": "string",
                  "example": "ERR_UNAUTHORIZED"
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Forbidden"
                },
                "errorCode": {
                  "type": "string",
                  "example": "ERR_FORBIDDEN"
                }
              }
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Internal Server Error"
                },
                "errorCode": {
                  "type": "string",
                  "example": "ERR_INTERNAL_SERVER"
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/applicants/{applicantID}": {
      "get": {
        "summary": "Get Applicant by ID",
        "description": "Fetch an applicant's details using their ID",
        "tags": [
          "Applicants"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "applicantID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/internal/applicants/invite": {
      "post": {
        "summary": "Invite Applicants",
        "description": "Sends an invitation to applicants to register or complete their application.",
        "tags": [
          "Applicants"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {}
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/internal/applicants/{applicantID}": {
      "get": {
        "summary": "Get Applicant by ID",
        "description": "Fetches details of a specific applicant using their unique ID.",
        "tags": [
          "Applicants"
        ],
        "parameters": [
          {
            "name": "applicantID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/applicants": {
      "get": {
        "summary": "Get All Applicants",
        "description": "Fetches a list of all applicants. Only accessible to admin users.",
        "tags": [
          "Applicants"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "You can pass any query parameters as needed to filter",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/internal/applicants": {
      "get": {
        "summary": "Get All Applicants",
        "description": "Retrieve a list of all applicants.",
        "tags": [
          "Applicants"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "You can pass any query parameters as needed to filter",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/customers/{customerID}/applicants/{applicantID}": {
      "post": {
        "summary": "Update Customer Applicant",
        "description": "Update applicant details for a specific customer",
        "tags": [
          "Applicants"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "applicantID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "First name of the customer"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name of the customer"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the customer"
                  },
                  "mobile": {
                    "type": "string",
                    "description": "Mobile number of the customer"
                  },
                  "case_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID of the related case"
                  }
                },
                "minProperties": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/customers/{customerID}/applicants/{applicantID}/resend-invite": {
      "post": {
        "summary": "Resend Invitation to Applicant",
        "description": "Allows a customer to resend an invitation email to an applicant.",
        "tags": [
          "Applicants"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "applicantID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "case_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "business_name": {
                    "type": "string"
                  },
                  "business_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "case_id",
                  "business_name",
                  "business_id"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/customers/{customerID}/applicants/{applicantID}/invite": {
      "post": {
        "summary": "Generate Invite Link for Applicant",
        "description": "Allows a customer to generate an invitation link for an applicant.",
        "tags": [
          "Applicants"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "applicantID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "case_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "business_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "case_id",
                  "business_id"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/invitation/{invitationToken}/accept": {
      "post": {
        "summary": "Accept User Invitation",
        "description": "Allows an applicant to accept an invitation using an invitation token.",
        "tags": [
          "Applicants"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "invitationToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/applicants/{applicantID}/businesses": {
      "get": {
        "summary": "Get Businesses Associated with an Applicant",
        "description": "Fetches the list of businesses associated with a specific applicant.",
        "tags": [
          "Applicants"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "applicantID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/applicant/business": {
      "post": {
        "summary": "Create a Business for an Applicant",
        "description": "Allows an applicant to create a new business entity.",
        "tags": [
          "Applicants"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/applicant/business-access-request": {
      "post": {
        "summary": "Request Business Access",
        "description": "Allows an applicant to request access to a business.",
        "tags": [
          "Applicants"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "business_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "requestee_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "invitation": {
                    "type": "object",
                    "properties": {
                      "invitation_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "customer_id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "invitation_id",
                      "customer_id"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "owner_id",
                  "business_id",
                  "requestee_id"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/applicant/business-access-request/{requestToken}/verify": {
      "post": {
        "summary": "Verify Business Access Request",
        "description": "Verifies a business access request using the provided request token.",
        "tags": [
          "Applicants"
        ],
        "parameters": [
          {
            "name": "requestToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/internal/businesses/{businessID}/applicants": {
      "get": {
        "summary": "Get Business Applicants",
        "description": "Retrieves a list of applicants associated with a specific business.",
        "tags": [
          "Applicants"
        ],
        "parameters": [
          {
            "name": "businessID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "b12345xyz"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/internal/businesses/{businessID}/owner/{userID}": {
      "put": {
        "summary": "Update Business Owner",
        "description": "Assigns or updates the owner of a specific business.",
        "tags": [
          "Applicants"
        ],
        "parameters": [
          {
            "name": "businessID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/applicant/business/{businessID}/access": {
      "get": {
        "summary": "Get Applicant's Business Access",
        "description": "Retrieves access details for an applicant regarding a specific business.",
        "tags": [
          "Applicants"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "businessID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/internal/businesses/{businessID}/applicants/{applicantID}": {
      "get": {
        "summary": "Get Business Applicant Details",
        "description": "Retrieves details of a specific applicant associated with a business.",
        "tags": [
          "Applicants"
        ],
        "parameters": [
          {
            "name": "businessID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "b12345xyz"
            }
          },
          {
            "name": "applicantID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "a67890xyz"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/internal/businesses/{businessID}/co-applicants": {
      "get": {
        "summary": "Get Business Co-Applicants",
        "description": "Retrieves a list of co-applicants associated with a specific business.",
        "tags": [
          "Applicants"
        ],
        "parameters": [
          {
            "name": "businessID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "b12345xyz"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/cache/prepare-user-details": {
      "post": {
        "summary": "Prepare User Details for Caching",
        "description": "Prepares and caches user details for faster retrieval.",
        "tags": [
          "Cache"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "summary": "Get Customers",
        "description": "Retrieve a list of all customers. Requires ADMIN role.",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "You can pass any query parameters as needed to filter",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Create a New Customer (Admin Only)",
        "description": "Allows an ADMIN to create a new customer.",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "First name of the customer"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name of the customer"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the customer"
                  },
                  "mobile": {
                    "type": "string",
                    "description": "Mobile number of the customer"
                  },
                  "company_name": {
                    "type": "string",
                    "description": "Name of the company"
                  },
                  "company_contact_number": {
                    "type": "string",
                    "description": "Contact number of the company"
                  },
                  "module_permissions": {
                    "type": "object",
                    "description": "Permissions for different modules",
                    "required": [
                      "onboarding",
                      "risk_monitoring",
                      "white_labeling",
                      "email_notifications",
                      "adverse_media"
                    ],
                    "properties": {
                      "onboarding": {
                        "type": "boolean"
                      },
                      "risk_monitoring": {
                        "type": "boolean"
                      },
                      "white_labeling": {
                        "type": "boolean"
                      },
                      "email_notifications": {
                        "type": "boolean"
                      },
                      "adverse_media": {
                        "type": "boolean"
                      }
                    }
                  },
                  "email_configuration": {
                    "type": "object",
                    "description": "Email notification configurations",
                    "required": [
                      "onboarding",
                      "integration",
                      "score"
                    ],
                    "properties": {
                      "onboarding": {
                        "type": "boolean"
                      },
                      "integration": {
                        "type": "boolean"
                      },
                      "security": {
                        "type": "boolean"
                      },
                      "score": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "email",
                  "company_name",
                  "module_permissions",
                  "email_configuration"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/internal/customers": {
      "get": {
        "summary": "Get Customers",
        "description": "Fetch a list of customers",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "You can pass any query parameters as needed to filter",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/customers/onboarding-permission": {
      "post": {
        "summary": "Grant Onboarding Permission",
        "description": "Allows an admin to grant onboarding permissions to a customer.",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subrole_code": {
                    "type": "string",
                    "enum": [
                      "cro",
                      "risk_analyst"
                    ]
                  }
                },
                "required": [
                  "subrole_code"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/customers/{customerID}": {
      "get": {
        "summary": "Get Customer by ID",
        "description": "Fetch a specific customer's details using their ID. Only accessible to Admins and the respective Customer.",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "summary": "Update Customer by ID",
        "description": "Allows an admin to update a customer's details.",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "First name of the user"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name of the user"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the user"
                  },
                  "mobile": {
                    "type": "string",
                    "description": "Mobile number of the user"
                  },
                  "company_name": {
                    "type": "string",
                    "description": "Company name of the user"
                  },
                  "company_contact_number": {
                    "type": "string",
                    "description": "Company contact number"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "ACTIVE",
                      "INACTIVE"
                    ],
                    "description": "User status (ACTIVE or INACTIVE)"
                  },
                  "settings": {
                    "type": "object",
                    "description": "User settings",
                    "properties": {
                      "onboarding": {
                        "type": "boolean",
                        "description": "Onboarding setting"
                      },
                      "white_label_onboarding": {
                        "type": "boolean",
                        "description": "White-label onboarding setting"
                      },
                      "risk_monitoring": {
                        "type": "boolean",
                        "description": "Risk monitoring setting"
                      },
                      "email_notifications": {
                        "type": "boolean",
                        "description": "Email notifications setting"
                      }
                    }
                  }
                },
                "minProperties": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/businesses": {
      "post": {
        "summary": "Invite a Business",
        "description": "Allows an Admin or Customer to invite a business.",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "First name of the customer"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name of the customer"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the customer"
                  },
                  "customer_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Unique identifier of the customer"
                  },
                  "mobile": {
                    "type": "string",
                    "description": "Mobile number of the customer"
                  },
                  "business_name": {
                    "type": "string",
                    "description": "Business name associated with the customer"
                  },
                  "business_mobile": {
                    "type": "string",
                    "description": "Business contact number"
                  }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "email",
                  "customer_id",
                  "business_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/customers/{customerID}/users": {
      "get": {
        "summary": "Get Customer Users",
        "description": "Fetches a list of users associated with a specific customer. Accessible by respective Customer.",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "You can pass any query parameters as needed to filter",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "records": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string",
                                "format": "email"
                              },
                              "mobile": {
                                "type": "string",
                                "nullable": true
                              },
                              "is_email_verified": {
                                "type": "boolean"
                              },
                              "is_first_login": {
                                "type": "boolean"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "created_by": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updated_by": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "ext_auth_ref_id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "status": {
                                "type": "string"
                              },
                              "subrole": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "code": {
                                    "type": "string"
                                  },
                                  "display_name": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "total_pages": {
                          "type": "integer"
                        },
                        "total_items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "Success",
                  "data": {
                    "records": [
                      {
                        "id": "94520740-d63c-4e02-85ca-c4e138801e73",
                        "first_name": "Sandbox",
                        "last_name": "CRO",
                        "email": "dummy.customer.user@email.com",
                        "mobile": null,
                        "is_email_verified": false,
                        "is_first_login": true,
                        "created_at": "2024-02-12T14:16:49.053Z",
                        "created_by": "b03d6f6a-063b-4e71-8195-9f6f590a6257",
                        "updated_at": "2024-02-12T14:16:49.053Z",
                        "updated_by": "b03d6f6a-063b-4e71-8195-9f6f590a6257",
                        "ext_auth_ref_id": "ec46bd5b-0fae-47e1-8e4e-d37a5ac87e7e",
                        "status": "ACTIVE",
                        "subrole": {
                          "id": "f1fa445c-743b-4a0e-ad54-bb9294c41005",
                          "code": "cro",
                          "display_name": "CRO",
                          "label": "CRO",
                          "description": "This is Sandbox's CRO"
                        }
                      }
                    ],
                    "total_pages": 1,
                    "total_items": "1"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Create Customer User",
        "description": "Allows Customer to create a new user under a specific customer.",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "First name of the user"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name of the user"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the user"
                  },
                  "mobile": {
                    "type": "string",
                    "description": "Mobile number of the user"
                  },
                  "subrole": {
                    "type": "object",
                    "description": "Subrole details",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the subrole"
                      },
                      "code": {
                        "type": "string",
                        "description": "Code representing the subrole"
                      },
                      "label": {
                        "type": "string",
                        "description": "Label or name of the subrole"
                      }
                    },
                    "required": [
                      "id",
                      "code",
                      "label"
                    ]
                  }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "email",
                  "subrole"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Customer user created."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "053cfb4b-2073-4ede-afc0-26579bb3e1b8"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "Customer user created.",
                  "data": {
                    "user_id": "053cfb4b-2073-4ede-afc0-26579bb3e1b8"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "fail"
                    },
                    "message": {
                      "type": "string",
                      "example": "Another customer user exists with the same email."
                    },
                    "errorCode": {
                      "type": "string",
                      "example": "INVALID"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "errorName": {
                          "type": "string",
                          "example": "CustomersApiError"
                        }
                      },
                      "required": [
                        "errorName"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "errorCode",
                    "data"
                  ]
                },
                "example": {
                  "status": "fail",
                  "message": "Another customer user exists with the same email.",
                  "errorCode": "INVALID",
                  "data": {
                    "errorName": "CustomersApiError"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/customers/{customerID}/subroles": {
      "get": {
        "summary": "Get Customer Subroles",
        "description": "Fetches a list of subroles associated with a specific customer. Accessible by respective Customer.",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Customer subroles fetched successfully."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "cro"
                          },
                          "label": {
                            "type": "string",
                            "example": "CRO"
                          },
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "cdc69893-6d14-4ba5-a8a8-a0ba79f966b0"
                          },
                          "display_name": {
                            "type": "string",
                            "example": "CRO"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "Customer subroles fetched successfully.",
                  "data": [
                    {
                      "code": "cro",
                      "label": "CRO",
                      "id": "cdc69893-6d14-4ba5-a8a8-a0ba79f966b0",
                      "display_name": "CRO"
                    },
                    {
                      "code": "risk_analyst",
                      "label": "Risk Analyst",
                      "id": "cececa89-aa54-4433-8184-ec0598392811",
                      "display_name": "Risk Analyst"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "fail"
                    },
                    "message": {
                      "type": "string",
                      "example": "Customer does not exists"
                    },
                    "errorCode": {
                      "type": "string",
                      "example": "INVALID"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "errorName": {
                          "type": "string",
                          "example": "CustomersApiError"
                        }
                      },
                      "required": [
                        "errorName"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "errorCode",
                    "data"
                  ]
                },
                "example": {
                  "status": "fail",
                  "message": "Customer does not exists",
                  "errorCode": "INVALID",
                  "data": {
                    "errorName": "CustomersApiError"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/customers/{customerID}/resend-invite": {
      "post": {
        "summary": "Resend Invitation Email",
        "description": "Allows an Admin to resend an invitation email to a customer.",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/customers/{inviteToken}/admin/request-invite": {
      "post": {
        "summary": "Request Customer Admin Invite",
        "description": "Validates the invite token and processes the request to send an admin invitation email.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "inviteToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/customers/{inviteToken}/users/request-invite": {
      "post": {
        "summary": "Request Customer User Invite",
        "description": "Validates the invite token and sends an invitation email for a customer user.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "inviteToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/customers/{customerID}/users/{userID}": {
      "get": {
        "summary": "Get Customer User By ID",
        "description": "Fetch details of a specific user associated with a customer.",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Unique identifier for the user",
                          "example": "94520740-d63c-4e02-85ca-c4e138801e73"
                        },
                        "first_name": {
                          "type": "string",
                          "description": "First name of the user"
                        },
                        "last_name": {
                          "type": "string",
                          "description": "Last name of the user"
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "description": "Email address of the user"
                        },
                        "mobile": {
                          "type": "string",
                          "nullable": true,
                          "description": "Mobile phone number of the user, if provided"
                        },
                        "is_email_verified": {
                          "type": "boolean",
                          "description": "Whether the email address of the user has been verified"
                        },
                        "is_first_login": {
                          "type": "boolean",
                          "description": "True if the user has not yet completed their first login flow"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when the user was created"
                        },
                        "created_by": {
                          "type": "string",
                          "format": "uuid",
                          "description": "ID of the actor who created this user"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp of the last update to this user"
                        },
                        "updated_by": {
                          "type": "string",
                          "format": "uuid",
                          "description": "ID of the actor who last updated this user"
                        },
                        "status": {
                          "type": "string",
                          "description": "Active/Inactive state of user",
                          "enum": [
                            "ACTIVE",
                            "INACTIVE"
                          ]
                        },
                        "company_details": {
                          "type": "object",
                          "description": "The company record of the customer associated with this user",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "description": "Unique identifier for the company"
                            },
                            "name": {
                              "type": "string",
                              "description": "Company name"
                            },
                            "contact_number": {
                              "type": "string",
                              "nullable": true,
                              "description": "Company contact phone, if available"
                            },
                            "is_active": {
                              "type": "boolean",
                              "description": "Whether the company account is active"
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Timestamp when the company was created"
                            },
                            "created_by": {
                              "type": "string",
                              "format": "uuid",
                              "description": "ID of who created the company record"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Timestamp of last company record update"
                            },
                            "updated_by": {
                              "type": "string",
                              "format": "uuid",
                              "description": "ID of who last updated the company record"
                            }
                          }
                        },
                        "subrole": {
                          "type": "object",
                          "description": "The assigned subrole of the user",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "description": "Subrole identifier"
                            },
                            "code": {
                              "type": "string",
                              "description": "Machine-readable code for the subrole"
                            },
                            "label": {
                              "type": "string",
                              "description": "Human-readable label for the subrole"
                            },
                            "role_id": {
                              "type": "integer",
                              "description": "Numeric ID of the parent role"
                            },
                            "display_name": {
                              "type": "string",
                              "description": "Display name for the subrole"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "Success",
                  "data": {
                    "id": "94520740-d63c-4e02-85ca-c4e138801e73",
                    "first_name": "Sandbox",
                    "last_name": "CRO",
                    "email": "dummy.customer.user@email.com",
                    "mobile": null,
                    "is_email_verified": false,
                    "is_first_login": true,
                    "created_at": "2024-02-12T14:16:49.053328",
                    "created_by": "b03d6f6a-063b-4e71-8195-9f6f590a6257",
                    "updated_at": "2024-02-12T14:16:49.053328",
                    "updated_by": "b03d6f6a-063b-4e71-8195-9f6f590a6257",
                    "status": "ACTIVE",
                    "company_details": {
                      "id": "2e6438cb-ec3f-4e94-b5c9-8c058d2efaf1",
                      "name": "Sandbox",
                      "contact_number": null,
                      "is_active": true,
                      "created_at": "2024-02-12T09:26:48.247698",
                      "created_by": "9e18e65b-8ab5-48fd-87ad-3b586146a00f",
                      "updated_at": "2024-02-12T09:26:48.247698",
                      "updated_by": "9e18e65b-8ab5-48fd-87ad-3b586146a00f"
                    },
                    "subrole": {
                      "id": "f1fa445c-743b-4a0e-ad54-bb9294c41005",
                      "code": "cro",
                      "label": "CRO",
                      "role_id": 2,
                      "display_name": "CRO"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "fail"
                    },
                    "message": {
                      "type": "string",
                      "example": "Customer user Not Found"
                    },
                    "errorCode": {
                      "type": "string",
                      "example": "NOT_FOUND"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "errorName": {
                          "type": "string",
                          "example": "CustomersApiError"
                        }
                      },
                      "required": [
                        "errorName"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "errorCode",
                    "data"
                  ]
                },
                "example": {
                  "status": "fail",
                  "message": "Customer user Not Found",
                  "errorCode": "NOT_FOUND",
                  "data": {
                    "errorName": "CustomersApiError"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "summary": "Update Customer User By ID",
        "description": "Update user details for a specific customer.",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "First name of the user"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name of the user"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the user"
                  },
                  "mobile": {
                    "type": "string",
                    "description": "Mobile number of the user"
                  },
                  "subrole": {
                    "type": "object",
                    "description": "Subrole details",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the subrole"
                      },
                      "code": {
                        "type": "string",
                        "description": "Code representing the subrole"
                      },
                      "label": {
                        "type": "string",
                        "description": "Label or name of the subrole"
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "ACTIVE",
                      "INACTIVE"
                    ],
                    "description": "User status (ACTIVE or INACTIVE)"
                  }
                },
                "minProperties": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "User details updated successfully"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "errorName": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "errorName"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "errorCode",
                    "data"
                  ]
                },
                "example": {
                  "status": "fail",
                  "message": "Customer user does not exist",
                  "errorCode": "INVALID",
                  "data": {
                    "errorName": "CustomersApiError"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/internal/customers/{customerID}/users/{userID}": {
      "get": {
        "summary": "Get Internal Customer User by ID",
        "description": "Fetch details of a specific user associated with a customer in the internal system.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/customers/{customerID}/users/{userID}/resend-invite": {
      "post": {
        "summary": "Customer User Resend Invitation",
        "description": "Allows customer with proper permissions to resend an invite to a specific user associated with a customer.",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invite mail sent successfully"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "Invite mail sent successfully"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "fail"
                    },
                    "message": {
                      "type": "string",
                      "example": "Customer has already onboarded the platform"
                    },
                    "errorCode": {
                      "type": "string",
                      "example": "INVALID"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "errorName": {
                          "type": "string",
                          "example": "CustomersApiError"
                        }
                      },
                      "required": [
                        "errorName"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "errorCode",
                    "data"
                  ]
                },
                "example": {
                  "status": "fail",
                  "message": "Customer has already onboarded the platform",
                  "errorCode": "INVALID",
                  "data": {
                    "errorName": "CustomersApiError"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/internal/customers/permissions": {
      "get": {
        "summary": "Check Customers with Permissions",
        "description": "Fetches a list of customers with their associated permissions in the internal system.",
        "tags": [
          "Customers"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/internal/customers/{customerID}": {
      "get": {
        "summary": "Get Internal Customer by ID",
        "description": "Fetches detailed information about a specific customer using their ID in the internal system.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/redis/applicant-business": {
      "post": {
        "summary": "Set Applicant Business in Redis",
        "description": "Stores applicant business details in Redis for caching and quick access.",
        "tags": [
          "Redis"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/redis/subroles-permissions": {
      "post": {
        "summary": "Set Subroles Permissions in Redis",
        "description": "Stores subroles and their permissions in Redis for caching and quick access.",
        "tags": [
          "Redis"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/admin/sign-in": {
      "post": {
        "summary": "Admin Sign-In",
        "description": "Authenticates an admin user and returns an access token.",
        "tags": [
          "Sign In"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User's email address"
                  },
                  "password": {
                    "type": "string",
                    "description": "User's password"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/customer/sign-in": {
      "post": {
        "summary": "Customer Sign In",
        "description": "This endpoint allows customers to sign in with their email and password.\n\nSee Response -> Data -> customer_details below for the customerID used in other requests.",
        "tags": [
          "Sign In"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User's email address"
                  },
                  "password": {
                    "type": "string",
                    "description": "User's password"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Logged In successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user_details": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "first_name": {
                              "type": "string"
                            },
                            "last_name": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string",
                              "format": "email"
                            },
                            "is_email_verified": {
                              "type": "boolean"
                            }
                          }
                        },
                        "access_token": {
                          "type": "string",
                          "description": "JWT access token - DEPRECATED"
                        },
                        "id_token": {
                          "type": "string",
                          "description": "JWT ID token - used as the authorization bearer <token> for other endpoints."
                        },
                        "refresh_token": {
                          "type": "string",
                          "description": "Refresh token - used for refreshing the bearer token at the Customer Refresh Token endpoint."
                        },
                        "permissions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            {
                              "id": 7,
                              "code": "customer_user:read",
                              "label": "Customer user Read Only "
                            },
                            {
                              "id": 8,
                              "code": "customer_user:write",
                              "label": "Customer user Read Write"
                            }
                          ]
                        },
                        "customer_details": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "description": "Also known as customerID when used in other endpoint requests."
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "Logged In successfully",
                  "data": {
                    "status": "success",
                    "message": "Logged In successfully",
                    "data": {
                      "user_details": {
                        "id": "b03d6f6a-063b-4e71-8195-9f6f590a6257",
                        "first_name": "Sandbox",
                        "last_name": "Customer Admin",
                        "email": "dummy.customer@email.com",
                        "is_email_verified": true
                      },
                      "access_token": "eyJraWQiOiJvb2FtdlA3MURjRlMxeFVoVEsyZDd0ckVjWXd0MDh0dGhyRkxOaDNRZER3PSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiJhNTQ0NGJhNS1lNjlhLTQzNTEtYjYzYy04NzlkNjE4YWU2ZTAiLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAudXMtZWFzdC0xLmFtYXpvbmF3cy5jb21cL3VzLWVhc3QtMV9sWXZBbUphTmkiLCJjbGllbnRfaWQiOiIyMGM4cXNwNmRldXJsNmE5Z2lmcjl1MmptcCIsIm9yaWdpbl9qdGkiOiJkMzY3ODBlMC00Zjk2LTQ4NWUtYjUyNS00ZDgzOWI0ZmQ4NDgiLCJldmVudF9pZCI6IjkzOGEzMTAzLTg0MDctNDFlNy1hYTIxLWY1YTU4MTA0YTYyZCIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE3MDc3NDQ5NDYsImV4cCI6MTcwNzc0ODU0NiwiaWF0IjoxNzA3NzQ0OTQ2LCJqdGkiOiIyMzY5YTJiZi1kODg4LTQ2ZDQtYTYzOS0xMjI4MDg1YzRkMmQiLCJ1c2VybmFtZSI6ImE1NDQ0YmE1LWU2OWEtNDM1MS1iNjNjLTg3OWQ2MThhZTZlMCJ9.lNxRmFa3P-KvALWEgE7H_W2D8CQirTpOIU0U9ITtKz6J0dkE-WY0DhpMD8W73i2ul7_eiPQ59aDAi2jAZdS0AKgQJ3iwLU3ciYR10k2CKA-3fGByAUKBrZI4kHWQ0fdhj3ZIR65ddCxZLkMK3w1G0KK3VAQ1y6nipQQbZXXcybu_a7NP2G55M4A-syFqUqYxwESNb-W6YajdZon9NXoj-4ZzBdwjhWuyt1-5m8WilaxQvHBSCsAq7isvw-9HTZaUczvIXk1ZYhKRjqeaYAu9JtYbQP28Lx9Gj5bscQ40wJXR40l_iIoc032tntW-Gcnn-NU3uV1-_9MO3qeLICZq_Q",
                      "id_token": "eyJraWQiOiJrdEk4ZUttOWh3VUZiWUlCMTJiSXNDbWJwT1JTV05jXC8ybjA4QmU4YW8yaz0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJhNTQ0NGJhNS1lNjlhLTQzNTEtYjYzYy04NzlkNjE4YWU2ZTAiLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwiaXNzIjoiaHR0cHM6XC9cL2NvZ25pdG8taWRwLnVzLWVhc3QtMS5hbWF6b25hd3MuY29tXC91cy1lYXN0LTFfbFl2QW1KYU5pIiwiY3VzdG9tOmlkIjoiYjAzZDZmNmEtMDYzYi00ZTcxLTgxOTUtOWY2ZjU5MGE2MjU3IiwiY29nbml0bzp1c2VybmFtZSI6ImE1NDQ0YmE1LWU2OWEtNDM1MS1iNjNjLTg3OWQ2MThhZTZlMCIsImdpdmVuX25hbWUiOiJTYW5kYm94Iiwib3JpZ2luX2p0aSI6ImQzNjc4MGUwLTRmOTYtNDg1ZS1iNTI1LTRkODM5YjRmZDg0OCIsImF1ZCI6IjIwYzhxc3A2ZGV1cmw2YTlnaWZyOXUyam1wIiwiZXZlbnRfaWQiOiI5MzhhMzEwMy04NDA3LTQxZTctYWEyMS1mNWE1ODEwNGE2MmQiLCJ1cGRhdGVkX2F0IjoxNzA3NzMwMDA4MTA3LCJ0b2tlbl91c2UiOiJpZCIsImF1dGhfdGltZSI6MTcwNzc0NDk0NiwiZXhwIjoxNzA3NzQ4NTQ2LCJpYXQiOjE3MDc3NDQ5NDYsImZhbWlseV9uYW1lIjoiQ3VzdG9tZXIgQWRtaW4iLCJqdGkiOiJiMWJiZGFhOC00OWQ3LTQ1YjgtYmNkNi0wMDFhMWZlYjE1MDYiLCJlbWFpbCI6InNhbmRib3gtdGVzdCtjdXN0b21lckBqb2lud29ydGguY29tIn0.WW5__TX42GjyhtzAxAo6Domogd9USSF5h0FoyToG_WciHTuCiH3vYNddweasL1_fT4txBfcVknzscfG5QJHc_zjT4HPO4mIFnP9r5o3YwR39ISMZGKgxbVZZxnNBcSh0QzB-CGtno7q6JUl34zjhD4DyqB-TMW5QSQKYdDw4HcnCsXYvWjTc-NwANAZWyC8_NtVdcTWqw43K4Dx5JWoEXnrbYDDcUe0qahmhJ7jEl7plvBqy-L6CA_kjV9-mR86V0ipHXOTBZKzm8Aj3NrRP7s-AtitQ0uHHQhciatiK8YbcBmT5eUqlw1PQfk0vHVXlHSZ6cRsv9j9p5mWmgzrzMw",
                      "refresh_token": "eyJjdHkiOiJKV1QiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiUlNBLU9BRVAifQ.umDyw5UZoMp13_sUpCT9PmiS9IDywTz9uF_KA8b8KE5fiYU9FsQO2btjkpXXXsDL6KQZSUe-S8UA0FJ7G0IaihO2-HsuEdknVSPfeKmQhi4snmkEMqgC7KYKAJ7y1YN9KJb97bLvZVTPoMduMHGIBEHkGGMdxWxiEUXQakRECtB2ttFbrkf1oIRHfoF6_OnNCJKps-HcudtpJYPhrKR128IWAkFNqXKD8uWqjki7hbSY1uhAAfIR2jwfknfT1jnXzVNVoSuQczKBe31HSLCGV1Dw_Ytp6t2BrTb8By54xxtFHo-Xyv6-fsO5kE-QHF-0NeHQuwv6VyjxtExJkc4dxg.56ZfBFARjlPOdRgb.Ze8K6TdNml7JVP1xfvc6-zYl1nJ3QKdyCuPpOwyQ9QP7k6zspZfUlrGyjwUsrkPVWFpyHnTe3CsvlGyO_6XsPEmM-u4244wEQomYfnCkzeipc2-LbXRzGBSjIMjP2X_C5vIzanVcedASnZhksxQsl4r3DzhrFtVaxNhciD6hTSxLut9NPHhJv2lOEJ57s5dqPviDcpws7X2PBFTjpQRj1bvz15RI-ngbNsmOmqf9N4tpe2zDCiVYNl-mu6k3kIQhx2Bci1jfN7koEVHOAW-ul0yBF0WMcSYwpdurutdIFfpWNNhssb5JvqqWgC0SiPcWKa4gRwmpBmjwauJcD-Yb-S3AbW88f687lPyTuamHAHP6MPtN9M4ZYq9qhyTywpXZbEnP_RmM5XqKBd8bdgg8Z_-LycEKF7wIRua5Z06_b_A5JyD2fCt_MerBsDZhOGZbKNmc0xi4Eg7wITrSab59MktUNbb6apB0Y2RS89dtvyBoq1qv5vLb5S-eaUCtcD5OFDleGhS5xIjD1rBx7CUcmOAe2m28603pELoPmr5KBcCCa3WCc9xAiaSLORAO3hvzX-Nq_x7l5Mb8lFy-dhDVDgL9z8Uzy-mAl1SgyamVcJ9NaEJfkHYKJ6J3THv3Zg08_1Sx8J3y0XNpZWntfjdqgPXE1r52HAWbZJtelMH5lbtxY0VLy8o1DwlDlvMyNfAmBCtHUwaEC3WKQQVLRXAS6iFZBOYaU0vYyZZHDF95G0Ot-vYI5UZsLR_Rd8j-rmrDww5CjIujzwEhSAQBcr-WqIQFSxjArqp4ufWdooiTevYyGzCGkAqqOymHvPZbVW8FvL-UlUEZBJVMKKSSB-VlwT1E9xZH-376HuNR4hwjDEQtWgzZo3xd-P0w965AztBCLguFQRJ1cuGKXPI9Si-jF_8jvjFIGcAru9Jva2zYseFTANeRL_Z1NUqddkfF_aHShPuc2p6sqjEExEbAQhe41nuZpPbcbuhbo9QKsksvhberanU3_Tu9lXf2sUyrLyCM7IR-_f-4ciiyw2vFb9VMz4n_qJo_6lx_UEVRA_CFXyYLVgU5cs2b9Ee5uh56Md36hXBEMSZzaqbf2aAJXQ2d_dEh0B_9cbv11zg2ZLBU_L8LLq_pJQtOgpSkYJMLayQiW8ubNZBSbLzPVHo0sxZPpsighZZSNoZ_nKoiuKpTx2sppzHftZ5gqND38GLplfnKvhpYEHclcS_XGg3kcogEAZXFXSt_aslNUQP6Zwr2OlF_fMvzH4U69_CFgMGquM1PKglr64dxb6_ZZ78jcYmpr4OVWytqv26enfteIYEXZoSVzUVfQOMBFcWo_A.JBsycA0HGpTemXd1Xluhgw",
                      "subrole": {
                        "id": "30de5456-973e-4ba6-a98f-a55183326a0a",
                        "code": "owner",
                        "label": "Owner"
                      },
                      "permissions": [
                        {
                          "id": 7,
                          "code": "customer_user:read",
                          "label": "Customer user Read Only "
                        },
                        {
                          "id": 8,
                          "code": "customer_user:write",
                          "label": "Customer user Read Write"
                        },
                        {
                          "id": 9,
                          "code": "customer_user:create",
                          "label": "Customer user Create"
                        },
                        {
[...]
