{
  "openapi": "3.1.0",
  "info": {
    "title": "Case Service",
    "description": "This service handles the cases for business and also the subscriptions taken by business.",
    "contact": {},
    "version": "1.0"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://api.joinworth.com/case/api/v1",
      "variables": {}
    }
  ],
  "paths": {
    "/subscriptions/plans": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Get Subscription Plans",
        "operationId": "GetSubscriptionPlans",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Thu, 08 Feb 2024 14:18:56 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "2636"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Origin"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"a4c-Soc9fNBNQOeHHNzpFmAJmUSDJhQ\""
                  }
                }
              },
              "Keep-Alive": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "timeout=5"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "examples": [
                        {
                          "status": "success",
                          "message": "Subscription plans fetched successfully",
                          "data": {
                            "records": [
                              {
                                "id": "price_1OhQKlG10BvzIqLfWSCSibj9",
                                "object": "plan",
                                "active": true,
                                "aggregate_usage": null,
                                "amount": 3000,
                                "amount_decimal": "3000",
                                "billing_scheme": "per_unit",
                                "created": 1707370779,
                                "currency": "usd",
                                "interval": "week",
                                "interval_count": 1,
                                "livemode": false,
                                "metadata": {},
                                "nickname": null,
                                "product": {
                                  "id": "prod_PTCnWvRwfIleUP",
                                  "object": "product",
                                  "active": true,
                                  "attributes": [],
                                  "created": 1706617544,
                                  "default_price": "price_1OeGNoG10BvzIqLfmmY6U4eZ",
                                  "description": "This is a basic plan",
                                  "features": [],
                                  "images": [],
                                  "livemode": false,
                                  "metadata": {},
                                  "name": "Basic Plan",
                                  "package_dimensions": null,
                                  "shippable": null,
                                  "statement_descriptor": null,
                                  "tax_code": "txcd_10000000",
                                  "type": "service",
                                  "unit_label": null,
                                  "updated": 1707370780,
                                  "url": null
                                },
                                "tiers_mode": null,
                                "transform_usage": null,
                                "trial_period_days": null,
                                "usage_type": "licensed"
                              },
                              {
                                "id": "price_1OeGNoG10BvzIqLfmmY6U4eZ",
                                "object": "plan",
                                "active": true,
                                "aggregate_usage": null,
                                "amount": 500,
                                "amount_decimal": "500",
                                "billing_scheme": "per_unit",
                                "created": 1706617544,
                                "currency": "usd",
                                "interval": "day",
                                "interval_count": 1,
                                "livemode": false,
                                "metadata": {},
                                "nickname": null,
                                "product": {
                                  "id": "prod_PTCnWvRwfIleUP",
                                  "object": "product",
                                  "active": true,
                                  "attributes": [],
                                  "created": 1706617544,
                                  "default_price": "price_1OeGNoG10BvzIqLfmmY6U4eZ",
                                  "description": "This is a basic plan",
                                  "features": [],
                                  "images": [],
                                  "livemode": false,
                                  "metadata": {},
                                  "name": "Basic Plan",
                                  "package_dimensions": null,
                                  "shippable": null,
                                  "statement_descriptor": null,
                                  "tax_code": "txcd_10000000",
                                  "type": "service",
                                  "unit_label": null,
                                  "updated": 1707370780,
                                  "url": null
                                },
                                "tiers_mode": null,
                                "transform_usage": null,
                                "trial_period_days": null,
                                "usage_type": "licensed"
                              },
                              {
                                "id": "price_1OeFz5G10BvzIqLfgEcH4ggr",
                                "object": "plan",
                                "active": true,
                                "aggregate_usage": null,
                                "amount": 2000,
                                "amount_decimal": "2000",
                                "billing_scheme": "per_unit",
                                "created": 1706616011,
                                "currency": "usd",
                                "interval": "month",
                                "interval_count": 1,
                                "livemode": false,
                                "metadata": {},
                                "nickname": null,
                                "product": {
                                  "id": "prod_PTCNhcKTHPNSBU",
                                  "object": "product",
                                  "active": true,
                                  "attributes": [],
                                  "created": 1706616010,
                                  "default_price": "price_1OeFz5G10BvzIqLfgEcH4ggr",
                                  "description": "This is a golden plan",
                                  "features": [],
                                  "images": [
                                    "https://files.stripe.com/links/MDB8YWNjdF8xT1d3aG1HMTBCdnpJcUxmfGZsX3Rlc3Rfc24xajhuUlZIRnZDbzNyZjAwNk53dTFq00pExdYbL9"
                                  ],
                                  "livemode": false,
                                  "metadata": {},
                                  "name": "Golden Plan",
                                  "package_dimensions": null,
                                  "shippable": null,
                                  "statement_descriptor": null,
                                  "tax_code": "txcd_10000000",
                                  "type": "service",
                                  "unit_label": null,
                                  "updated": 1706616011,
                                  "url": null
                                },
                                "tiers_mode": null,
                                "transform_usage": null,
                                "trial_period_days": null,
                                "usage_type": "licensed"
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "success",
                  "message": "Subscription plans fetched successfully",
                  "data": {
                    "records": [
                      {
                        "id": "price_1OhQKlG10BvzIqLfWSCSibj9",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 3000,
                        "amount_decimal": "3000",
                        "billing_scheme": "per_unit",
                        "created": 1707370779,
                        "currency": "usd",
                        "interval": "week",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "nickname": null,
                        "product": {
                          "id": "prod_PTCnWvRwfIleUP",
                          "object": "product",
                          "active": true,
                          "attributes": [],
                          "created": 1706617544,
                          "default_price": "price_1OeGNoG10BvzIqLfmmY6U4eZ",
                          "description": "This is a basic plan",
                          "features": [],
                          "images": [],
                          "livemode": false,
                          "metadata": {},
                          "name": "Basic Plan",
                          "package_dimensions": null,
                          "shippable": null,
                          "statement_descriptor": null,
                          "tax_code": "txcd_10000000",
                          "type": "service",
                          "unit_label": null,
                          "updated": 1707370780,
                          "url": null
                        },
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      {
                        "id": "price_1OeGNoG10BvzIqLfmmY6U4eZ",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 500,
                        "amount_decimal": "500",
                        "billing_scheme": "per_unit",
                        "created": 1706617544,
                        "currency": "usd",
                        "interval": "day",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "nickname": null,
                        "product": {
                          "id": "prod_PTCnWvRwfIleUP",
                          "object": "product",
                          "active": true,
                          "attributes": [],
                          "created": 1706617544,
                          "default_price": "price_1OeGNoG10BvzIqLfmmY6U4eZ",
                          "description": "This is a basic plan",
                          "features": [],
                          "images": [],
                          "livemode": false,
                          "metadata": {},
                          "name": "Basic Plan",
                          "package_dimensions": null,
                          "shippable": null,
                          "statement_descriptor": null,
                          "tax_code": "txcd_10000000",
                          "type": "service",
                          "unit_label": null,
                          "updated": 1707370780,
                          "url": null
                        },
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      {
                        "id": "price_1OeFz5G10BvzIqLfgEcH4ggr",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 2000,
                        "amount_decimal": "2000",
                        "billing_scheme": "per_unit",
                        "created": 1706616011,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "nickname": null,
                        "product": {
                          "id": "prod_PTCNhcKTHPNSBU",
                          "object": "product",
                          "active": true,
                          "attributes": [],
                          "created": 1706616010,
                          "default_price": "price_1OeFz5G10BvzIqLfgEcH4ggr",
                          "description": "This is a golden plan",
                          "features": [],
                          "images": [
                            "https://files.stripe.com/links/MDB8YWNjdF8xT1d3aG1HMTBCdnpJcUxmfGZsX3Rlc3Rfc24xajhuUlZIRnZDbzNyZjAwNk53dTFq00pExdYbL9"
                          ],
                          "livemode": false,
                          "metadata": {},
                          "name": "Golden Plan",
                          "package_dimensions": null,
                          "shippable": null,
                          "statement_descriptor": null,
                          "tax_code": "txcd_10000000",
                          "type": "service",
                          "unit_label": null,
                          "updated": 1706616011,
                          "url": null
                        },
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.joinworth.com/case/api/v1",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/subscriptions/businesses/{businessID}": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Business Subscription Details",
        "operationId": "BusinessSubscriptionDetails",
        "parameters": [
          {
            "name": "businessID",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "346ddd58-8850-4b4c-9781-501630eea4e6"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Thu, 08 Feb 2024 14:25:43 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "140"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Origin"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"8c-Foum4SanXKyoAZC/DZgvz2/lW50\""
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success1"
                    },
                    {
                      "examples": [
                        {
                          "status": "success",
                          "message": "Subsciption details fetched successfully",
                          "data": {
                            "subscription": {
                              "status": "NOT_SUBSCRIBED"
                            },
                            "invoice": null
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "success",
                  "message": "Subsciption details fetched successfully",
                  "data": {
                    "subscription": {
                      "status": "NOT_SUBSCRIBED"
                    },
                    "invoice": null
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.joinworth.com/case/api/v1",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/subscriptions/businesses/{businessID}/create": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Create Subscription/Subscribe",
        "operationId": "CreateSubscription/Subscribe",
        "parameters": [
          {
            "name": "businessID",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "346ddd58-8850-4b4c-9781-501630eea4e6"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateSubscriptionSubscribeRequest"
                  },
                  {
                    "examples": [
                      {
                        "plan_id": "plan_id",
                        "payment_method": "checkout"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "plan_id": "plan_id",
                "payment_method": "checkout"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Thu, 08 Feb 2024 14:57:39 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "527"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Origin"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"20f-Lg1u9/E5QtprQIHOYeTEdc4Q70o\""
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success2"
                    },
                    {
                      "examples": [
                        {
                          "status": "success",
                          "message": "Subscription checkout session started successfully",
                          "data": {
                            "checkout_url": "https://checkout.stripe.com/c/pay/cs_test_a1zwtnf0mz9obbcrhmurJ7Dc0Mwj2063u1dC2hH7m8TBkvG3zRJoicSkkP#fid2cGd2ZndsdXFsamtQa2x0cGBrYHZ2QGtkZ2lgYSc%2FY2RpdmApJ2R1bE5gfCc%2FJ3VuWnFgdnFaMDRKUnJtaEI0NUdzf0x0SWNvSWhLVVxcd1xOSXJpXV1HPUs8U28yYktfQXRrT3duQko2SDRgRkxmdVxjXFdrSzY8NDdNYmFOPDVJYEw2dGxzS0lVSFRxZmo1NVJMZnxQVjBfJyknY3dqaFZgd3Ngdyc%2FcXdwYCknaWR8anBxUXx1YCc%2FJ3Zsa2JpYFpscWBoJyknYGtkZ2lgVWlkZmBtamlhYHd2Jz9xd3BgeCUl"
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "success",
                  "message": "Subscription checkout session started successfully",
                  "data": {
                    "checkout_url": "https://checkout.stripe.com/c/pay/cs_test_a1zwtnf0mz9obbcrhmurJ7Dc0Mwj2063u1dC2hH7m8TBkvG3zRJoicSkkP#fid2cGd2ZndsdXFsamtQa2x0cGBrYHZ2QGtkZ2lgYSc%2FY2RpdmApJ2R1bE5gfCc%2FJ3VuWnFgdnFaMDRKUnJtaEI0NUdzf0x0SWNvSWhLVVxcd1xOSXJpXV1HPUs8U28yYktfQXRrT3duQko2SDRgRkxmdVxjXFdrSzY8NDdNYmFOPDVJYEw2dGxzS0lVSFRxZmo1NVJMZnxQVjBfJyknY3dqaFZgd3Ngdyc%2FcXdwYCknaWR8anBxUXx1YCc%2FJ3Zsa2JpYFpscWBoJyknYGtkZ2lgVWlkZmBtamlhYHd2Jz9xd3BgeCUl"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Thu, 08 Feb 2024 14:52:34 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "160"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Origin"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"a0-gRl4EpWxEHsQfEESPHmI/vm+EQA\""
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error1"
                    },
                    {
                      "examples": [
                        {
                          "status": "error",
                          "message": "No such plan: 'price_1Oc0hbG10BvzIqLfpRDCgC8Y'",
                          "errorCode": "UNKNOWN_ERROR",
                          "data": {
                            "errorName": "Error",
                            "code": "resource_missing"
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "error",
                  "message": "No such plan: 'price_1Oc0hbG10BvzIqLfpRDCgC8Y'",
                  "errorCode": "UNKNOWN_ERROR",
                  "data": {
                    "errorName": "Error",
                    "code": "resource_missing"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.joinworth.com/case/api/v1",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/subscriptions/businesses/{businessID}/status": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Business Subscription Status",
        "operationId": "BusinessSubscriptionStatus",
        "parameters": [
          {
            "name": "businessID",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "0edc06d0-e336-4b83-beab-708171e9e8d1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Fri, 09 Feb 2024 05:32:40 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "213"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Origin"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"d5-lPr73Wc+ze5zkhWPV6quyt0NYZU\""
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success3"
                    },
                    {
                      "examples": [
                        {
                          "status": "success",
                          "message": "Subscription status fetched successfully",
                          "data": {
                            "status": "NOT_SUBSCRIBED",
                            "message": "Your Subscription is currently Inactive, Please activate your membership",
                            "subscription": null
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "success",
                  "message": "Subscription status fetched successfully",
                  "data": {
                    "status": "NOT_SUBSCRIBED",
                    "message": "Your Subscription is currently Inactive, Please activate your membership",
                    "subscription": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Fri, 09 Feb 2024 05:31:17 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "133"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Origin"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"85-jVIe1KYQeOnd/N2cZpRnHA+yylk\""
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorBusinessandApplicantarenotrelated1"
                    },
                    {
                      "examples": [
                        {
                          "status": "fail",
                          "message": "Applicant is not related to business",
                          "errorCode": "INVALID",
                          "data": {
                            "errorName": "SubscriptionsApiError"
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "fail",
                  "message": "Applicant is not related to business",
                  "errorCode": "INVALID",
                  "data": {
                    "errorName": "SubscriptionsApiError"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.joinworth.com/case/api/v1",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/subscriptions/businesses/{businessID}/customer-portal-session": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Create Customer Portal Session",
        "operationId": "CreateCustomerPortalSession",
        "parameters": [
          {
            "name": "businessID",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "346ddd58-8850-4b4c-9781-501630eea4e6"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Fri, 09 Feb 2024 05:35:03 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "230"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Origin"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"e6-rvCNJ/0t3ePuvLcjyoGOxiNntks\""
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success4"
                    },
                    {
                      "examples": [
                        {
                          "status": "success",
                          "message": "Customer portal session created successfully",
                          "data": {
                            "redirect_url": "https://billing.stripe.com/p/session/test_YWNjdF8xT1d3aG1HMTBCdnpJcUxmLF9QV3FRV2h6T1NmdExKRWg3V3dQSmhuVHhyYXNkN2pt0100AaL4vZO4"
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "success",
                  "message": "Customer portal session created successfully",
                  "data": {
                    "redirect_url": "https://billing.stripe.com/p/session/test_YWNjdF8xT1d3aG1HMTBCdnpJcUxmLF9QV3FRV2h6T1NmdExKRWg3V3dQSmhuVHhyYXNkN2pt0100AaL4vZO4"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Fri, 09 Feb 2024 05:35:33 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "162"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Origin"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"a2-18RQ6wd/Ail6ls1pw1EMMQ7iXYU\""
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorNotFound1"
                    },
                    {
                      "examples": [
                        {
                          "status": "error",
                          "message": "Stripe customer account does not exists for this applicant",
                          "errorCode": "UNKNOWN_ERROR",
                          "data": {
                            "errorName": "SubscriptionsApiError"
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "error",
                  "message": "Stripe customer account does not exists for this applicant",
                  "errorCode": "UNKNOWN_ERROR",
                  "data": {
                    "errorName": "SubscriptionsApiError"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.joinworth.com/case/api/v1",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/subscriptions/businesses/{businessID}/history": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Business Subscription History",
        "operationId": "BusinessSubscriptionHistory",
        "parameters": [
          {
            "name": "businessID",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "78101af8-f509-4c68-b67a-6d9cf0e5aab5"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Fri, 09 Feb 2024 05:36:26 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "128"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Origin"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"80-tgotzFjTeWYCab9RuLPc6QlMUog\""
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessNoResults"
                    },
                    {
                      "examples": [
                        {
                          "status": "success",
                          "message": "Subscription history fetched successfully",
                          "data": {
                            "records": [],
                            "total_pages": 0,
                            "total_items": 0
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "success",
                  "message": "Subscription history fetched successfully",
                  "data": {
                    "records": [],
                    "total_pages": 0,
                    "total_items": 0
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.joinworth.com/case/api/v1",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/subscriptions/businesses/{businessID}/cancel": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Cancel Subscription",
        "description": "This API endpoint if for admin, to cancel the applicants subscription.",
        "operationId": "CancelSubscription",
        "parameters": [
          {
            "name": "businessID",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "74c01edf-f2ca-4e43-bcd8-37b22d6cc7c7"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Fri, 09 Feb 2024 05:53:36 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "3514"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Origin"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"dba-iLtuZh1mcjJ0u6KuW0NH6DC3bNs\""
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success5"
                    },
                    {
                      "examples": [
                        {
                          "status": "success",
                          "message": "Subscription cancelled successfully",
                          "data": {
                            "id": "sub_1OgjVpG10BvzIqLfURGSMANA",
                            "object": "subscription",
                            "application": null,
                            "application_fee_percent": null,
                            "automatic_tax": {
                              "enabled": true,
                              "liability": {
                                "type": "self"
                              }
                            },
                            "billing_cycle_anchor": 1707206173,
                            "billing_cycle_anchor_config": null,
                            "billing_thresholds": null,
                            "cancel_at": 1709711773,
                            "cancel_at_period_end": true,
                            "canceled_at": 1707458015,
                            "cancellation_details": {
                              "comment": "canceled_by_admin",
                              "feedback": null,
                              "reason": "cancellation_requested"
                            },
[...]
