{
  "openapi": "3.1.0",
  "info": {
    "title": "Score Service",
    "description": "This service takes care to calculate the score of the business based on the integration data.",
    "contact": {},
    "version": "1.0"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://api.joinworth.com/score/api/v1",
      "variables": {}
    }
  ],
  "paths": {
    "/score/business/{businessID}": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Get Business Score",
        "description": "Retrieve the Worth score and detailed score breakdown for the specified business entity.",
        "operationId": "GetBusinessScore",
        "parameters": [
          {
            "name": "businessID",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "9289f785-e7f3-4c05-b5cc-6caf982bde63"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Mon, 23 Dec 2024 09:45:35 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "5443"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Origin"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"1543-pCI9TccLTs7MUS9xffXsvkExNH0\""
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "examples": [
                        {
                          "status": "success",
                          "message": "Success",
                          "data": {
                            "id": "17f1de9d-b38d-47d9-bcd6-21662b648ada",
                            "month": "12",
                            "year": "2024",
                            "created_at": "2024-12-23T09:03:07.705Z",
                            "business_id": "9289f785-e7f3-4c05-b5cc-6caf982bde63",
                            "customer_id": null,
                            "status": "SUCCESS",
                            "score_weightage_config": "3d790145-0b4a-4de7-969a-d118123123bc",
                            "weighted_score_100": "78",
                            "weighted_score_850": "728",
                            "risk_level": "LOW",
                            "score_decision": "APPROVE",
                            "base_score": "626.78",
                            "version": "2.2",
                            "score_distribution": [
                              {
                                "id": 2,
                                "code": "PUBLIC_RECORDS",
                                "label": "Public Records",
                                "is_deleted": false,
                                "total_weightage": 40,
                                "factors": [
                                  {
                                    "id": 14,
                                    "code": "JUDGEMENTS_AND_LIENS_AI_PLACEHOLDER",
                                    "label": "Judgements and Liens",
                                    "category_id": 2,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 14,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": -0.11,
                                    "score_850": -2,
                                    "weighted_score_850": -0.11,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  },
                                  {
                                    "id": 15,
                                    "code": "SOCIAL_REVIEWS_AI_PLACEHOLDER",
                                    "label": "Social Reviews",
                                    "category_id": 2,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 15,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 24.82,
                                    "score_850": -2,
                                    "weighted_score_850": 24.82,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  },
                                  {
                                    "id": 16,
                                    "code": "BANKRUPTCIES_AI_PLACEHOLDER",
                                    "label": "Bankruptcies",
                                    "category_id": 2,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 16,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 86.31,
                                    "score_850": -2,
                                    "weighted_score_850": 86.31,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  }
                                ],
                                "score": "111.02",
                                "score_100": "111.02",
                                "score_850": "111.02"
                              },
                              {
                                "id": 4,
                                "code": "BUSINESS_OPERATIONS",
                                "label": "Business Operations",
                                "is_deleted": false,
                                "total_weightage": 0,
                                "factors": [
                                  {
                                    "id": 27,
                                    "code": "BALANCE_SHEET_AI_PLACEHOLDER",
                                    "label": "Balance Sheet",
                                    "category_id": 4,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 27,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": -25.26,
                                    "score_850": -2,
                                    "weighted_score_850": -25.26,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  },
                                  {
                                    "id": 25,
                                    "code": "PROFIT_AND_LOSS_AI_PLACEHOLDER",
                                    "label": "Profit and Loss",
                                    "category_id": 4,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 25,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 6.44,
                                    "score_850": -2,
                                    "weighted_score_850": 6.44,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  },
                                  {
                                    "id": 26,
                                    "code": "CASH_FLOW_AI_PLACEHOLDER",
                                    "label": "Cash Flow",
                                    "category_id": 4,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 26,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": -4.94,
                                    "score_850": -2,
                                    "weighted_score_850": -4.94,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  }
                                ],
                                "score": "-23.76",
                                "score_100": "-23.76",
                                "score_850": "-23.76"
                              },
                              {
                                "id": 5,
                                "code": "COMPANY_PROFILE",
                                "label": "Company Profile",
                                "is_deleted": false,
                                "total_weightage": 0,
                                "factors": [
                                  {
                                    "id": 17,
                                    "code": "CREDIT_BUREAU_AI_PLACEHOLDER",
                                    "label": "Credit Bureau",
                                    "category_id": 5,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 17,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": -4.19,
                                    "score_850": -2,
                                    "weighted_score_850": -4.19,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  }
                                ],
                                "score": "-4.19",
                                "score_100": "-4.19",
                                "score_850": "-4.19"
                              },
                              {
                                "id": 6,
                                "code": "FINANCIAL_TRENDS",
                                "label": "Financial Trends",
                                "is_deleted": false,
                                "total_weightage": 0,
                                "factors": [
                                  {
                                    "id": 21,
                                    "code": "EFFICIENCY_RATIOS_AI_PLACEHOLDER",
                                    "label": "Efficiency Ratio",
                                    "category_id": 6,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 21,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 0.03,
                                    "score_850": -2,
                                    "weighted_score_850": 0.03,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  },
                                  {
                                    "id": 20,
                                    "code": "SOLVENCY_RATIOS_AI_PLACEHOLDER",
                                    "label": "Solvency Ratio",
                                    "category_id": 6,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 20,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 2.3,
                                    "score_850": -2,
                                    "weighted_score_850": 2.3,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  },
                                  {
                                    "id": 18,
                                    "code": "ECONOMICS_AI_PLACEHOLDER",
                                    "label": "Economics",
                                    "category_id": 6,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 18,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 7.77,
                                    "score_850": -2,
                                    "weighted_score_850": 7.77,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  },
                                  {
                                    "id": 19,
                                    "code": "LIQUIDITY_RATIOS_AI_PLACEHOLDER",
                                    "label": "Liquidity Ratios",
                                    "category_id": 6,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 19,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 0.02,
                                    "score_850": -2,
                                    "weighted_score_850": 0.02,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  }
                                ],
                                "score": "10.12",
                                "score_100": "10.12",
                                "score_850": "10.12"
                              },
                              {
                                "id": 8,
                                "code": "PERFORMANCE_MEASURES",
                                "label": "Performance Measures",
                                "is_deleted": false,
                                "total_weightage": 0,
                                "factors": [
                                  {
                                    "id": 22,
                                    "code": "PROFITABILITY_RATIOS_AI_PLACEHOLDER",
                                    "label": "Profitability Ratio",
                                    "category_id": 8,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 22,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 2.51,
                                    "score_850": -2,
                                    "weighted_score_850": 2.51,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  },
                                  {
                                    "id": 23,
                                    "code": "VALUATION_RATIOS_AI_PLACEHOLDER",
                                    "label": "Valuation Ratio",
                                    "category_id": 8,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 23,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 1.83,
                                    "score_850": -2,
                                    "weighted_score_850": 1.83,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  },
                                  {
                                    "id": 24,
                                    "code": "FINANCIAL_RISKS_AI_PLACEHOLDER",
                                    "label": "Financial Risks",
                                    "category_id": 8,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 24,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 3.88,
                                    "score_850": -2,
                                    "weighted_score_850": 3.88,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  }
                                ],
                                "score": "8.22",
                                "score_100": "8.22",
                                "score_850": "8.22"
                              }
                            ],
                            "is_score_calculated": true
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "success",
                  "message": "Success",
                  "data": {
                    "id": "17f1de9d-b38d-47d9-bcd6-21662b648ada",
                    "month": "12",
                    "year": "2024",
                    "created_at": "2024-12-23T09:03:07.705Z",
                    "business_id": "9289f785-e7f3-4c05-b5cc-6caf982bde63",
                    "customer_id": null,
                    "status": "SUCCESS",
                    "score_weightage_config": "3d790145-0b4a-4de7-969a-d118123123bc",
                    "weighted_score_100": "78",
                    "weighted_score_850": "728",
                    "risk_level": "LOW",
                    "score_decision": "APPROVE",
                    "base_score": "626.78",
                    "version": "2.2",
                    "score_distribution": [
                      {
                        "id": 2,
                        "code": "PUBLIC_RECORDS",
                        "label": "Public Records",
                        "is_deleted": false,
                        "total_weightage": 40,
                        "factors": [
                          {
                            "id": 14,
                            "code": "JUDGEMENTS_AND_LIENS_AI_PLACEHOLDER",
                            "label": "Judgements and Liens",
                            "category_id": 2,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 14,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": -0.11,
                            "score_850": -2,
                            "weighted_score_850": -0.11,
                            "status": "SUCCESS",
                            "log": "Success"
                          },
                          {
                            "id": 15,
                            "code": "SOCIAL_REVIEWS_AI_PLACEHOLDER",
                            "label": "Social Reviews",
                            "category_id": 2,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 15,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": 24.82,
                            "score_850": -2,
                            "weighted_score_850": 24.82,
                            "status": "SUCCESS",
                            "log": "Success"
                          },
                          {
                            "id": 16,
                            "code": "BANKRUPTCIES_AI_PLACEHOLDER",
                            "label": "Bankruptcies",
                            "category_id": 2,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 16,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": 86.31,
                            "score_850": -2,
                            "weighted_score_850": 86.31,
                            "status": "SUCCESS",
                            "log": "Success"
                          }
                        ],
                        "score": "111.02",
                        "score_100": "111.02",
                        "score_850": "111.02"
                      },
                      {
                        "id": 4,
                        "code": "BUSINESS_OPERATIONS",
                        "label": "Business Operations",
                        "is_deleted": false,
                        "total_weightage": 0,
                        "factors": [
                          {
                            "id": 27,
                            "code": "BALANCE_SHEET_AI_PLACEHOLDER",
                            "label": "Balance Sheet",
                            "category_id": 4,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 27,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": -25.26,
                            "score_850": -2,
                            "weighted_score_850": -25.26,
                            "status": "SUCCESS",
                            "log": "Success"
                          },
                          {
                            "id": 25,
                            "code": "PROFIT_AND_LOSS_AI_PLACEHOLDER",
                            "label": "Profit and Loss",
                            "category_id": 4,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 25,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": 6.44,
                            "score_850": -2,
                            "weighted_score_850": 6.44,
                            "status": "SUCCESS",
                            "log": "Success"
                          },
                          {
                            "id": 26,
                            "code": "CASH_FLOW_AI_PLACEHOLDER",
                            "label": "Cash Flow",
                            "category_id": 4,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 26,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": -4.94,
                            "score_850": -2,
                            "weighted_score_850": -4.94,
                            "status": "SUCCESS",
                            "log": "Success"
                          }
                        ],
                        "score": "-23.76",
                        "score_100": "-23.76",
                        "score_850": "-23.76"
                      },
                      {
                        "id": 5,
                        "code": "COMPANY_PROFILE",
                        "label": "Company Profile",
                        "is_deleted": false,
                        "total_weightage": 0,
                        "factors": [
                          {
                            "id": 17,
                            "code": "CREDIT_BUREAU_AI_PLACEHOLDER",
                            "label": "Credit Bureau",
                            "category_id": 5,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 17,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": -4.19,
                            "score_850": -2,
                            "weighted_score_850": -4.19,
                            "status": "SUCCESS",
                            "log": "Success"
                          }
                        ],
                        "score": "-4.19",
                        "score_100": "-4.19",
                        "score_850": "-4.19"
                      },
                      {
                        "id": 6,
                        "code": "FINANCIAL_TRENDS",
                        "label": "Financial Trends",
                        "is_deleted": false,
                        "total_weightage": 0,
                        "factors": [
                          {
                            "id": 21,
                            "code": "EFFICIENCY_RATIOS_AI_PLACEHOLDER",
                            "label": "Efficiency Ratio",
                            "category_id": 6,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 21,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": 0.03,
                            "score_850": -2,
                            "weighted_score_850": 0.03,
                            "status": "SUCCESS",
                            "log": "Success"
                          },
                          {
                            "id": 20,
                            "code": "SOLVENCY_RATIOS_AI_PLACEHOLDER",
                            "label": "Solvency Ratio",
                            "category_id": 6,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 20,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": 2.3,
                            "score_850": -2,
                            "weighted_score_850": 2.3,
                            "status": "SUCCESS",
                            "log": "Success"
                          },
                          {
                            "id": 18,
                            "code": "ECONOMICS_AI_PLACEHOLDER",
                            "label": "Economics",
                            "category_id": 6,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 18,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": 7.77,
                            "score_850": -2,
                            "weighted_score_850": 7.77,
                            "status": "SUCCESS",
                            "log": "Success"
                          },
                          {
                            "id": 19,
                            "code": "LIQUIDITY_RATIOS_AI_PLACEHOLDER",
                            "label": "Liquidity Ratios",
                            "category_id": 6,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 19,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": 0.02,
                            "score_850": -2,
                            "weighted_score_850": 0.02,
                            "status": "SUCCESS",
                            "log": "Success"
                          }
                        ],
                        "score": "10.12",
                        "score_100": "10.12",
                        "score_850": "10.12"
                      },
                      {
                        "id": 8,
                        "code": "PERFORMANCE_MEASURES",
                        "label": "Performance Measures",
                        "is_deleted": false,
                        "total_weightage": 0,
                        "factors": [
                          {
                            "id": 22,
                            "code": "PROFITABILITY_RATIOS_AI_PLACEHOLDER",
                            "label": "Profitability Ratio",
                            "category_id": 8,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 22,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": 2.51,
                            "score_850": -2,
                            "weighted_score_850": 2.51,
                            "status": "SUCCESS",
                            "log": "Success"
                          },
                          {
                            "id": 23,
                            "code": "VALUATION_RATIOS_AI_PLACEHOLDER",
                            "label": "Valuation Ratio",
                            "category_id": 8,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 23,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": 1.83,
                            "score_850": -2,
                            "weighted_score_850": 1.83,
                            "status": "SUCCESS",
                            "log": "Success"
                          },
                          {
                            "id": 24,
                            "code": "FINANCIAL_RISKS_AI_PLACEHOLDER",
                            "label": "Financial Risks",
                            "category_id": 8,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 24,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": 3.88,
                            "score_850": -2,
                            "weighted_score_850": 3.88,
                            "status": "SUCCESS",
                            "log": "Success"
                          }
                        ],
                        "score": "8.22",
                        "score_100": "8.22",
                        "score_850": "8.22"
                      }
                    ],
                    "is_score_calculated": true
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "parameters": []
    },
    "/score/business/{businessID}/score-trend-chart": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Get Score Trend Chart",
        "operationId": "GetScoreTrendChart",
        "parameters": [
          {
            "name": "businessID",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Thu, 22 Aug 2024 09:59:30 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "234"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Access-Control-Allow-Origin": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "*"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"ea-rknFQF0Yy9O1GmQsQAoDFxUVkC4\""
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetScoreTrendChart"
                    },
                    {
                      "examples": [
                        {
                          "status": "success",
                          "message": "Success",
                          "data": {
                            "score_data": [
                              {
                                "id": "ed91a239-7886-410a-9f9a-08e130635a89",
                                "created_at": "2024-08-14T09:14:24.508Z",
                                "weighted_score_850": "726",
                                "year": "2024",
                                "month": "8"
                              }
                            ],
                            "is_score_data_available": true
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "success",
                  "message": "Success",
                  "data": {
                    "score_data": [
                      {
                        "id": "ed91a239-7886-410a-9f9a-08e130635a89",
                        "created_at": "2024-08-14T09:14:24.508Z",
                        "weighted_score_850": "726",
                        "year": "2024",
                        "month": "8"
                      }
                    ],
                    "is_score_data_available": true
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/score/inputs/{scoreID}": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Get Score Inputs",
        "operationId": "GetScoreInputs",
        "parameters": [
          {
            "name": "scoreID",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "6d296920-b77c-41b1-9a15-50dbc803c8e7"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Fri, 09 Feb 2024 09:30:58 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "3260"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Access-Control-Allow-Origin": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "*"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"cbc-xnz7CmA0rwXQMhPkHXsVw0FeDZA\""
                  }
                }
              },
              "Keep-Alive": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "timeout=5"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Success1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "parameters": []
    },
    "/cutsomer/score-decision": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "SET customer Score Decision Matrix",
        "operationId": "SETcustomerScoreDecisionMatrix",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SETcustomerScoreDecisionMatrixRequest"
                  },
                  {
                    "examples": [
                      {
                        "customer_id": "2e6438cb-ec3f-4e94-b5c9-8c058d2efaf1"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "customer_id": "2e6438cb-ec3f-4e94-b5c9-8c058d2efaf1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Tue, 13 Feb 2024 06:26:34 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "706"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Access-Control-Allow-Origin": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "*"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"2c2-31hvsRz2A9c8QZthiQSNiO6V2ZQ\""
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success3"
                    },
                    {
                      "examples": [
                        {
                          "status": "success",
                          "message": "Success",
                          "data": [
                            {
                              "id": "d85f7652-be8a-4829-aff6-a69798bcfa2c",
                              "customer_id": "c268ef66-5ff0-4e69-85d9-9fbda147988a",
                              "range_start": 700,
                              "range_end": 850,
                              "risk_level": "LOW",
                              "decision": "APPROVE",
                              "created_at": "2024-02-13T06:26:34.608Z"
                            },
                            {
                              "id": "d0df9f38-dfaa-4f8a-833d-cce92cefc183",
                              "customer_id": "c268ef66-5ff0-4e69-85d9-9fbda147988a",
                              "range_start": 550,
                              "range_end": 699,
                              "risk_level": "MODERATE",
                              "decision": "FURTHER_REVIEW_NEEDED",
                              "created_at": "2024-02-13T06:26:34.608Z"
                            },
                            {
                              "id": "34693167-ad09-4e59-bc59-9a1f4edb1e66",
                              "customer_id": "c268ef66-5ff0-4e69-85d9-9fbda147988a",
                              "range_start": 0,
                              "range_end": 549,
                              "risk_level": "HIGH",
                              "decision": "DECLINE",
                              "created_at": "2024-02-13T06:26:34.608Z"
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "success",
                  "message": "Success",
                  "data": [
                    {
                      "id": "d85f7652-be8a-4829-aff6-a69798bcfa2c",
                      "customer_id": "c268ef66-5ff0-4e69-85d9-9fbda147988a",
                      "range_start": 700,
                      "range_end": 850,
                      "risk_level": "LOW",
                      "decision": "APPROVE",
                      "created_at": "2024-02-13T06:26:34.608Z"
                    },
                    {
                      "id": "d0df9f38-dfaa-4f8a-833d-cce92cefc183",
                      "customer_id": "c268ef66-5ff0-4e69-85d9-9fbda147988a",
                      "range_start": 550,
                      "range_end": 699,
                      "risk_level": "MODERATE",
                      "decision": "FURTHER_REVIEW_NEEDED",
                      "created_at": "2024-02-13T06:26:34.608Z"
                    },
                    {
                      "id": "34693167-ad09-4e59-bc59-9a1f4edb1e66",
                      "customer_id": "c268ef66-5ff0-4e69-85d9-9fbda147988a",
                      "range_start": 0,
                      "range_end": 549,
                      "risk_level": "HIGH",
                      "decision": "DECLINE",
                      "created_at": "2024-02-13T06:26:34.608Z"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "parameters": []
    },
    "/score/cases/{caseID}": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Get Case Score",
        "operationId": "GetCaseScore",
        "parameters": [
          {
            "name": "caseID",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "8113a18b-c259-4fef-bcf0-dee8501a2323"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Mon, 23 Dec 2024 09:42:02 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "5329"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Origin"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"14d1-itVdmHYHdlTc/Q6MBJrBGjlcoLI\""
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success4"
                    },
                    {
                      "examples": [
                        {
                          "status": "success",
                          "message": "Success",
                          "data": {
                            "id": "d45f1df0-440f-43e3-bd2b-66a102cc57a9",
                            "created_at": "2024-12-23T08:59:19.571Z",
                            "case_id": "8113a18b-c259-4fef-bcf0-dee8501a2323",
                            "status": "SUCCESS",
                            "weighted_score_100": "78",
                            "weighted_score_850": "728",
                            "risk_level": "LOW",
                            "score_decision": "APPROVE",
                            "version": "2.2",
                            "base_score": "626.78",
                            "score_distribution": [
                              {
                                "id": 2,
                                "code": "PUBLIC_RECORDS",
                                "label": "Public Records",
                                "is_deleted": false,
                                "total_weightage": 40,
                                "factors": [
                                  {
                                    "id": 14,
                                    "code": "JUDGEMENTS_AND_LIENS_AI_PLACEHOLDER",
                                    "label": "Judgements and Liens",
                                    "category_id": 2,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 14,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": -0.11,
                                    "score_850": -2,
                                    "weighted_score_850": -0.11,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  },
                                  {
                                    "id": 15,
                                    "code": "SOCIAL_REVIEWS_AI_PLACEHOLDER",
                                    "label": "Social Reviews",
                                    "category_id": 2,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 15,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 24.82,
                                    "score_850": -2,
                                    "weighted_score_850": 24.82,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  },
                                  {
                                    "id": 16,
                                    "code": "BANKRUPTCIES_AI_PLACEHOLDER",
                                    "label": "Bankruptcies",
                                    "category_id": 2,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 16,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 86.31,
                                    "score_850": -2,
                                    "weighted_score_850": 86.31,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  }
                                ],
                                "score": "111.02",
                                "score_100": "111.02",
                                "score_850": "111.02"
                              },
                              {
                                "id": 4,
                                "code": "BUSINESS_OPERATIONS",
                                "label": "Business Operations",
                                "is_deleted": false,
                                "total_weightage": 0,
                                "factors": [
                                  {
                                    "id": 27,
                                    "code": "BALANCE_SHEET_AI_PLACEHOLDER",
                                    "label": "Balance Sheet",
                                    "category_id": 4,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 27,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": -25.26,
                                    "score_850": -2,
                                    "weighted_score_850": -25.26,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  },
                                  {
                                    "id": 25,
                                    "code": "PROFIT_AND_LOSS_AI_PLACEHOLDER",
                                    "label": "Profit and Loss",
                                    "category_id": 4,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 25,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 6.44,
                                    "score_850": -2,
                                    "weighted_score_850": 6.44,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  },
                                  {
                                    "id": 26,
                                    "code": "CASH_FLOW_AI_PLACEHOLDER",
                                    "label": "Cash Flow",
                                    "category_id": 4,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 26,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": -4.94,
                                    "score_850": -2,
                                    "weighted_score_850": -4.94,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  }
                                ],
                                "score": "-23.76",
                                "score_100": "-23.76",
                                "score_850": "-23.76"
                              },
                              {
                                "id": 5,
                                "code": "COMPANY_PROFILE",
                                "label": "Company Profile",
                                "is_deleted": false,
                                "total_weightage": 0,
                                "factors": [
                                  {
                                    "id": 17,
                                    "code": "CREDIT_BUREAU_AI_PLACEHOLDER",
                                    "label": "Credit Bureau",
                                    "category_id": 5,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 17,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": -4.19,
                                    "score_850": -2,
                                    "weighted_score_850": -4.19,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  }
                                ],
                                "score": "-4.19",
                                "score_100": "-4.19",
                                "score_850": "-4.19"
                              },
                              {
                                "id": 6,
                                "code": "FINANCIAL_TRENDS",
                                "label": "Financial Trends",
                                "is_deleted": false,
                                "total_weightage": 0,
                                "factors": [
                                  {
                                    "id": 21,
                                    "code": "EFFICIENCY_RATIOS_AI_PLACEHOLDER",
                                    "label": "Efficiency Ratio",
                                    "category_id": 6,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 21,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 0.03,
                                    "score_850": -2,
                                    "weighted_score_850": 0.03,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  },
                                  {
                                    "id": 20,
                                    "code": "SOLVENCY_RATIOS_AI_PLACEHOLDER",
                                    "label": "Solvency Ratio",
                                    "category_id": 6,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 20,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 2.3,
                                    "score_850": -2,
                                    "weighted_score_850": 2.3,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  },
                                  {
                                    "id": 18,
                                    "code": "ECONOMICS_AI_PLACEHOLDER",
                                    "label": "Economics",
                                    "category_id": 6,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 18,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 7.77,
                                    "score_850": -2,
                                    "weighted_score_850": 7.77,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  },
                                  {
                                    "id": 19,
                                    "code": "LIQUIDITY_RATIOS_AI_PLACEHOLDER",
                                    "label": "Liquidity Ratios",
                                    "category_id": 6,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 19,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 0.02,
                                    "score_850": -2,
                                    "weighted_score_850": 0.02,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  }
                                ],
                                "score": "10.12",
                                "score_100": "10.12",
                                "score_850": "10.12"
                              },
                              {
                                "id": 8,
                                "code": "PERFORMANCE_MEASURES",
                                "label": "Performance Measures",
                                "is_deleted": false,
                                "total_weightage": 0,
                                "factors": [
                                  {
                                    "id": 22,
                                    "code": "PROFITABILITY_RATIOS_AI_PLACEHOLDER",
                                    "label": "Profitability Ratio",
                                    "category_id": 8,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 22,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 2.51,
                                    "score_850": -2,
                                    "weighted_score_850": 2.51,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  },
                                  {
                                    "id": 23,
                                    "code": "VALUATION_RATIOS_AI_PLACEHOLDER",
                                    "label": "Valuation Ratio",
                                    "category_id": 8,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 23,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 1.83,
                                    "score_850": -2,
                                    "weighted_score_850": 1.83,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  },
                                  {
                                    "id": 24,
                                    "code": "FINANCIAL_RISKS_AI_PLACEHOLDER",
                                    "label": "Financial Risks",
                                    "category_id": 8,
                                    "is_deleted": false,
                                    "parent_factor_id": null,
                                    "weightage": 0,
                                    "factor_id": 24,
                                    "value": -2,
                                    "score_100": -2,
                                    "weighted_score_100": 3.88,
                                    "score_850": -2,
                                    "weighted_score_850": 3.88,
                                    "status": "SUCCESS",
                                    "log": "Success"
                                  }
                                ],
                                "score": "8.22",
                                "score_100": "8.22",
                                "score_850": "8.22"
                              }
                            ],
                            "is_score_calculated": true
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "success",
                  "message": "Success",
                  "data": {
                    "id": "d45f1df0-440f-43e3-bd2b-66a102cc57a9",
                    "created_at": "2024-12-23T08:59:19.571Z",
                    "case_id": "8113a18b-c259-4fef-bcf0-dee8501a2323",
                    "status": "SUCCESS",
                    "weighted_score_100": "78",
                    "weighted_score_850": "728",
                    "risk_level": "LOW",
                    "score_decision": "APPROVE",
                    "version": "2.2",
                    "base_score": "626.78",
                    "score_distribution": [
                      {
                        "id": 2,
                        "code": "PUBLIC_RECORDS",
                        "label": "Public Records",
                        "is_deleted": false,
                        "total_weightage": 40,
                        "factors": [
                          {
                            "id": 14,
                            "code": "JUDGEMENTS_AND_LIENS_AI_PLACEHOLDER",
                            "label": "Judgements and Liens",
                            "category_id": 2,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 14,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": -0.11,
                            "score_850": -2,
                            "weighted_score_850": -0.11,
                            "status": "SUCCESS",
                            "log": "Success"
                          },
                          {
                            "id": 15,
                            "code": "SOCIAL_REVIEWS_AI_PLACEHOLDER",
                            "label": "Social Reviews",
                            "category_id": 2,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 15,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": 24.82,
                            "score_850": -2,
                            "weighted_score_850": 24.82,
                            "status": "SUCCESS",
                            "log": "Success"
                          },
                          {
                            "id": 16,
                            "code": "BANKRUPTCIES_AI_PLACEHOLDER",
                            "label": "Bankruptcies",
                            "category_id": 2,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 16,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": 86.31,
                            "score_850": -2,
                            "weighted_score_850": 86.31,
                            "status": "SUCCESS",
                            "log": "Success"
                          }
                        ],
                        "score": "111.02",
                        "score_100": "111.02",
                        "score_850": "111.02"
                      },
                      {
                        "id": 4,
                        "code": "BUSINESS_OPERATIONS",
                        "label": "Business Operations",
                        "is_deleted": false,
                        "total_weightage": 0,
                        "factors": [
                          {
                            "id": 27,
                            "code": "BALANCE_SHEET_AI_PLACEHOLDER",
                            "label": "Balance Sheet",
                            "category_id": 4,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 27,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": -25.26,
                            "score_850": -2,
                            "weighted_score_850": -25.26,
                            "status": "SUCCESS",
                            "log": "Success"
                          },
                          {
                            "id": 25,
                            "code": "PROFIT_AND_LOSS_AI_PLACEHOLDER",
                            "label": "Profit and Loss",
                            "category_id": 4,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 25,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": 6.44,
                            "score_850": -2,
                            "weighted_score_850": 6.44,
                            "status": "SUCCESS",
                            "log": "Success"
                          },
                          {
                            "id": 26,
                            "code": "CASH_FLOW_AI_PLACEHOLDER",
                            "label": "Cash Flow",
                            "category_id": 4,
                            "is_deleted": false,
                            "parent_factor_id": null,
                            "weightage": 0,
                            "factor_id": 26,
                            "value": -2,
                            "score_100": -2,
                            "weighted_score_100": -4.94,
                            "score_850": -2,
                            "weighted_score_850": -4.94,
                            "status": "SUCCESS",
                            "log": "Success"
                          }
                        ],
                        "score": "-23.76",
                        "score_100": "-23.76",
                        "score_850": "-23.76"
                      },
                      {
                        "id": 5,
                        "code": "COMPANY_PROFILE",
                        "label": "Company Profile",
                        "is_deleted": false,
                        "total_weightage": 0,
                        "factors": [
                          {
                            "id": 17,
[...]
