{
  "openapi": "3.1.0",
  "info": {
    "title": "For Customer's Businesses Worth 360 Report APIs",
    "contact": {},
    "version": "1.0"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://api.joinworth.com/report/api/v1",
      "variables": {}
    }
  ],
  "paths": {
    "/reports/businesses/{businessID}/status": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Check Worth 360 Report Generation Status",
        "operationId": "CheckWorth360ReportGenerationStatus",
        "parameters": [
          {
            "name": "businessID",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "26a5d832-3f4e-4b43-84f2-e19c594bd7c1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Fri, 11 Apr 2025 09:34:22 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "423"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Origin"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"1a7-SI0Rf9rRITDITRPjkDP5dUvWgn4\""
                  }
                }
              },
              "Keep-Alive": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "timeout=5"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/REQUESTEDWorth360ReportGenerationStatusFetchedSuccessfully"
                    },
                    {
                      "examples": [
                        {
                          "status": "success",
                          "message": "Report status fetched successfully",
                          "data": {
                            "report_details": {
                              "id": "06cf2b4b-51fc-4e7f-8f60-e2c2ab161f23",
                              "report_type_id": 1,
                              "log": null,
                              "created_at": "2025-04-10T10:41:50.398Z",
                              "created_by": "fe879c59-f9e4-4796-9a63-38927541f0d7",
                              "updated_at": "2025-04-10T10:41:50.398Z",
                              "triggered_by": "CUSTOMER",
                              "triggered_id": "815f078a-2bc7-4fa9-84cb-b4e0c62a504f",
                              "status": "REQUESTED"
                            },
                            "status": "REQUESTED"
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "success",
                  "message": "Report status fetched successfully",
                  "data": {
                    "report_details": {
                      "id": "06cf2b4b-51fc-4e7f-8f60-e2c2ab161f23",
                      "report_type_id": 1,
                      "log": null,
                      "created_at": "2025-04-10T10:41:50.398Z",
                      "created_by": "fe879c59-f9e4-4796-9a63-38927541f0d7",
                      "updated_at": "2025-04-10T10:41:50.398Z",
                      "triggered_by": "CUSTOMER",
                      "triggered_id": "815f078a-2bc7-4fa9-84cb-b4e0c62a504f",
                      "status": "REQUESTED"
                    },
                    "status": "REQUESTED"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "parameters": []
    },
    "/reports/customers/{customerID}/businesses/{businessID}": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Generate Worth 360 Report Using Customer",
        "operationId": "GenerateWorth360ReportUsingCustomer",
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "{{customer_id}}"
              ]
            }
          },
          {
            "name": "businessID",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "26a5d832-3f4e-4b43-84f2-e19c594bd7c1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Fri, 11 Apr 2025 09:11:12 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "131"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Origin"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"83-JH46WhEmCK7NwDpK/yZ7gpaja/c\""
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessWorth360ReportGenerationUsingCustomerStartedSuccessfully"
                    },
                    {
                      "examples": [
                        {
                          "status": "success",
                          "message": "Report generation started successfully",
                          "data": {
                            "report_id": "4eb20a20-f29f-4907-b305-b6d074ffff50"
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "success",
                  "message": "Report generation started successfully",
                  "data": {
                    "report_id": "4eb20a20-f29f-4907-b305-b6d074ffff50"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "parameters": []
    },
    "/reports/{reportID}": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Get Worth 360 Report Details",
        "description": "### Get Report by ID\n\nThis endpoint retrieves a specific report based on the provided report ID.\n\n#### Request\n\nNo request body is required for this endpoint.\n\n- `reportID` (path parameter) - The ID of the report to be retrieved.\n    \n\n#### Response\n\nThe response will be a JSON object with the following schema:\n\n``` json\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"status\": {\n      \"type\": \"string\"\n    },\n    \"message\": {\n      \"type\": \"string\"\n    },\n    \"data\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"id\": {\n          \"type\": \"string\"\n        },\n        \"report_type_id\": {\n          \"type\": \"integer\"\n        },\n        \"status\": {\n          \"type\": \"string\"\n        },\n        \"log\": {\n          \"type\": [\"string\", \"null\"]\n        },\n        \"created_at\": {\n          \"type\": \"string\"\n        },\n        \"created_by\": {\n          \"type\": \"string\"\n        },\n        \"updated_at\": {\n          \"type\": \"string\"\n        },\n        \"triggered_by\": {\n          \"type\": \"string\"\n        },\n        \"triggered_id\": {\n          \"type\": \"string\"\n        },\n        \"report_type\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"core_report_types\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"id\": {\n                  \"type\": \"integer\"\n                },\n                \"code\": {\n                  \"type\": \"string\"\n                },\n                \"label\": {\n                  \"type\": \"string\"\n                }\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}\n\n ```",
        "operationId": "GetWorth360ReportDetails",
        "parameters": [
          {
            "name": "reportID",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "{{report_id}}"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Fri, 11 Apr 2025 09:37:07 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "497"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Origin"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"1f1-T/fSZL+xMQ8ipydSXu8Voo4Of9w\""
                  }
                }
              },
              "Keep-Alive": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "timeout=5"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/REQUESTEDWorth360ReportDetailsFetchedSuccessfully"
                    },
                    {
                      "examples": [
                        {
                          "status": "success",
                          "message": "Report details fetched successfully",
                          "data": {
                            "id": "06cf2b4b-51fc-4e7f-8f60-e2c2ab161f23",
                            "report_type_id": 1,
                            "status": "REQUESTED",
                            "log": null,
                            "created_at": "2025-04-10T10:41:50.398Z",
                            "created_by": "fe879c59-f9e4-4796-9a63-38927541f0d7",
                            "updated_at": "2025-04-10T10:41:50.398Z",
                            "triggered_by": "CUSTOMER",
                            "triggered_id": "815f078a-2bc7-4fa9-84cb-b4e0c62a504f",
                            "file_path": null,
                            "report_type": {
                              "core_report_types": {
                                "id": 1,
                                "code": "business_report",
                                "label": "Business Report"
                              }
                            }
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "success",
                  "message": "Report details fetched successfully",
                  "data": {
                    "id": "06cf2b4b-51fc-4e7f-8f60-e2c2ab161f23",
                    "report_type_id": 1,
                    "status": "REQUESTED",
                    "log": null,
                    "created_at": "2025-04-10T10:41:50.398Z",
                    "created_by": "fe879c59-f9e4-4796-9a63-38927541f0d7",
                    "updated_at": "2025-04-10T10:41:50.398Z",
                    "triggered_by": "CUSTOMER",
                    "triggered_id": "815f078a-2bc7-4fa9-84cb-b4e0c62a504f",
                    "file_path": null,
                    "report_type": {
                      "core_report_types": {
                        "id": 1,
                        "code": "business_report",
                        "label": "Business Report"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "parameters": []
    },
    "/reports/{reportID}/download": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Download Worth 360 Report",
        "operationId": "DownloadWorth360Report",
        "parameters": [
          {
            "name": "reportID",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "{{report_id}}"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Fri, 11 Apr 2025 09:38:00 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "508"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Origin"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"1fc-OMQpiSp2O31VLc2TRElbdkdVkBc\""
                  }
                }
              },
              "Keep-Alive": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "timeout=5"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/REQUESTEDWorth360ReportIsNotReadyToDownload"
                    },
                    {
                      "examples": [
                        {
                          "status": "success",
                          "message": "Report is not ready to download",
                          "data": {
                            "id": "06cf2b4b-51fc-4e7f-8f60-e2c2ab161f23",
                            "report_type_id": 1,
                            "status": "REQUESTED",
                            "log": null,
                            "created_at": "2025-04-10T10:41:50.398Z",
                            "created_by": "fe879c59-f9e4-4796-9a63-38927541f0d7",
                            "updated_at": "2025-04-10T10:41:50.398Z",
                            "triggered_by": "CUSTOMER",
                            "triggered_id": "815f078a-2bc7-4fa9-84cb-b4e0c62a504f",
                            "file_path": null,
                            "report_type": {
                              "core_report_types": {
                                "id": 1,
                                "code": "business_report",
                                "label": "Business Report"
                              }
                            },
                            "pdf_url": null
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "success",
                  "message": "Report is not ready to download",
                  "data": {
                    "id": "06cf2b4b-51fc-4e7f-8f60-e2c2ab161f23",
                    "report_type_id": 1,
                    "status": "REQUESTED",
                    "log": null,
                    "created_at": "2025-04-10T10:41:50.398Z",
                    "created_by": "fe879c59-f9e4-4796-9a63-38927541f0d7",
                    "updated_at": "2025-04-10T10:41:50.398Z",
                    "triggered_by": "CUSTOMER",
                    "triggered_id": "815f078a-2bc7-4fa9-84cb-b4e0c62a504f",
                    "file_path": null,
                    "report_type": {
                      "core_report_types": {
                        "id": 1,
                        "code": "business_report",
                        "label": "Business Report"
                      }
                    },
                    "pdf_url": null
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "REQUESTEDWorth360ReportGenerationStatusFetchedSuccessfully": {
        "title": "REQUESTEDWorth360ReportGenerationStatusFetchedSuccessfully",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Data"
          }
        },
        "examples": [
          {
            "status": "success",
            "message": "Report status fetched successfully",
            "data": {
              "report_details": {
                "id": "06cf2b4b-51fc-4e7f-8f60-e2c2ab161f23",
                "report_type_id": 1,
                "log": null,
                "created_at": "2025-04-10T10:41:50.398Z",
                "created_by": "fe879c59-f9e4-4796-9a63-38927541f0d7",
                "updated_at": "2025-04-10T10:41:50.398Z",
                "triggered_by": "CUSTOMER",
                "triggered_id": "815f078a-2bc7-4fa9-84cb-b4e0c62a504f",
                "status": "REQUESTED"
              },
              "status": "REQUESTED"
            }
          }
        ]
      },
      "Data": {
        "title": "Data",
        "type": "object",
        "properties": {
          "report_details": {
            "$ref": "#/components/schemas/ReportDetails"
          },
          "status": {
            "type": "string"
          }
        },
        "examples": [
          {
            "report_details": {
              "id": "06cf2b4b-51fc-4e7f-8f60-e2c2ab161f23",
              "report_type_id": 1,
              "log": null,
              "created_at": "2025-04-10T10:41:50.398Z",
              "created_by": "fe879c59-f9e4-4796-9a63-38927541f0d7",
              "updated_at": "2025-04-10T10:41:50.398Z",
              "triggered_by": "CUSTOMER",
              "triggered_id": "815f078a-2bc7-4fa9-84cb-b4e0c62a504f",
              "status": "REQUESTED"
            },
            "status": "REQUESTED"
          }
        ]
      },
      "ReportDetails": {
        "title": "ReportDetails",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "report_type_id": {
            "type": "integer",
            "contentEncoding": "int32"
          },
          "log": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "triggered_by": {
            "type": "string"
          },
          "triggered_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "examples": [
          {
            "id": "06cf2b4b-51fc-4e7f-8f60-e2c2ab161f23",
            "report_type_id": 1,
            "log": null,
            "created_at": "2025-04-10T10:41:50.398Z",
            "created_by": "fe879c59-f9e4-4796-9a63-38927541f0d7",
            "updated_at": "2025-04-10T10:41:50.398Z",
            "triggered_by": "CUSTOMER",
            "triggered_id": "815f078a-2bc7-4fa9-84cb-b4e0c62a504f",
            "status": "REQUESTED"
          }
        ]
      },
      "IN_PROGRESSWorth360ReportGenerationStatusFetchedSuccessfully": {
        "title": "IN_PROGRESSWorth360ReportGenerationStatusFetchedSuccessfully",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Data1"
          }
        },
        "examples": [
          {
            "status": "success",
            "message": "Report status fetched successfully",
            "data": {
              "report_details": {
                "id": "9c6b8104-f0f8-4fa6-8a72-e0c4bd4841ed",
                "report_type_id": 1,
                "log": {},
                "created_at": "2025-04-11T15:25:36.242Z",
                "created_by": "78b9beba-3d18-4de5-b201-928687319a92",
                "updated_at": "2025-04-11T15:26:41.742Z",
                "triggered_by": "CUSTOMER",
                "triggered_id": "4b8bd9be-18a2-44ca-8476-38a2925252ea",
                "status": "IN_PROGRESS"
              },
              "status": "IN_PROGRESS"
            }
          }
        ]
      },
      "Data1": {
        "title": "Data1",
        "type": "object",
        "properties": {
          "report_details": {
            "$ref": "#/components/schemas/ReportDetails1"
          },
          "status": {
            "type": "string"
          }
        },
        "examples": [
          {
            "report_details": {
              "id": "9c6b8104-f0f8-4fa6-8a72-e0c4bd4841ed",
              "report_type_id": 1,
              "log": {},
              "created_at": "2025-04-11T15:25:36.242Z",
              "created_by": "78b9beba-3d18-4de5-b201-928687319a92",
              "updated_at": "2025-04-11T15:26:41.742Z",
              "triggered_by": "CUSTOMER",
              "triggered_id": "4b8bd9be-18a2-44ca-8476-38a2925252ea",
              "status": "IN_PROGRESS"
            },
            "status": "IN_PROGRESS"
          }
        ]
      },
      "ReportDetails1": {
        "title": "ReportDetails1",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "report_type_id": {
            "type": "integer",
            "contentEncoding": "int32"
          },
          "log": {
            "type": "object"
          },
          "created_at": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "triggered_by": {
            "type": "string"
          },
          "triggered_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "examples": [
          {
            "id": "9c6b8104-f0f8-4fa6-8a72-e0c4bd4841ed",
            "report_type_id": 1,
            "log": {},
            "created_at": "2025-04-11T15:25:36.242Z",
            "created_by": "78b9beba-3d18-4de5-b201-928687319a92",
            "updated_at": "2025-04-11T15:26:41.742Z",
            "triggered_by": "CUSTOMER",
            "triggered_id": "4b8bd9be-18a2-44ca-8476-38a2925252ea",
            "status": "IN_PROGRESS"
          }
        ]
      },
      "COMPLETEDWorth360ReportGenerationStatusFetchedSuccessfully": {
        "title": "COMPLETEDWorth360ReportGenerationStatusFetchedSuccessfully",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Data2"
          }
        }
      },
      "Data2": {
        "title": "Data2",
        "type": "object",
        "properties": {
          "report_details": {
            "$ref": "#/components/schemas/ReportDetails2"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ReportDetails2": {
        "title": "ReportDetails2",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "report_type_id": {
            "type": "integer",
            "contentEncoding": "int32"
          },
          "log": {
            "$ref": "#/components/schemas/Log"
          },
          "created_at": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "triggered_by": {
            "type": "string"
          },
          "triggered_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Log": {
        "title": "Log",
        "type": "object",
        "properties": {
          "kyc_kyb": {
            "$ref": "#/components/schemas/KycKyb"
          },
          "financials": {
            "$ref": "#/components/schemas/Financials"
          },
          "tax_filings": {
            "type": "object"
          },
          "open_accounts": {
            "$ref": "#/components/schemas/OpenAccounts"
          },
          "public_records": {
            "$ref": "#/components/schemas/PublicRecords"
          },
          "company_overview": {
            "$ref": "#/components/schemas/CompanyOverview"
          },
          "executive_summary": {
            "$ref": "#/components/schemas/ExecutiveSummary"
          }
        }
      },
      "KycKyb": {
        "title": "KycKyb",
        "type": "object",
        "properties": {
          "secretary_of_state": {
            "$ref": "#/components/schemas/SecretaryOfState"
          },
          "watch_list_and_tax_id_verification": {
            "$ref": "#/components/schemas/WatchListAndTaxIdVerification"
          }
        }
      },
      "SecretaryOfState": {
        "title": "SecretaryOfState",
        "type": "object",
        "properties": {
          "names": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Name"
            },
            "description": ""
          },
          "people": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          "reviewTasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReviewTask"
            },
            "description": ""
          },
          "registrations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Registration"
            },
            "description": ""
          },
          "tinIsVerified": {
            "type": "boolean"
          },
          "tinReviewTask": {
            "$ref": "#/components/schemas/TinReviewTask"
          },
          "addressSources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddressSource"
            },
            "description": ""
          },
          "hasActiveFiling": {
            "type": "boolean"
          },
          "addressVerifyStatus": {
            "type": "string"
          },
          "sortedRegistrations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortedRegistration"
            },
            "description": ""
          },
          "sortedAddressSources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortedAddressSource"
            },
            "description": ""
          },
          "businessNameIsVerified": {
            "type": "string"
          },
          "businessNameReviewTask": {
            "$ref": "#/components/schemas/BusinessNameReviewTask"
          }
        }
      },
      "Name": {
        "title": "Name",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "source": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Source"
            },
            "description": ""
          },
          "submitted": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "business_entity_verification_id": {
            "type": "string"
          }
        },
        "examples": [
          {
            "id": "71158ac8-0d78-46d9-85d0-edd7c35073ec",
            "name": "Facebook DC Headquarters",
            "type": "legal",
            "source": [
              {
                "id": "c2c43e9d-1c95-4236-b63b-eae4b58f7551",
                "type": "registration",
                "metadata": {
                  "state": "DC",
                  "status": "active",
                  "file_number": "FN-XXXXXXX",
                  "jurisdiction": "DOMESTIC"
                }
              }
            ],
            "submitted": true,
            "created_at": "2025-04-08T10:29:06.868Z",
            "updated_at": null,
            "business_entity_verification_id": "7373b0e6-b0bd-48fd-99c8-e09861b3d192"
          }
        ]
      },
      "Source": {
        "title": "Source",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "examples": [
          {
            "id": "c2c43e9d-1c95-4236-b63b-eae4b58f7551",
            "type": "registration",
            "metadata": {
              "state": "DC",
              "status": "active",
              "file_number": "FN-XXXXXXX",
              "jurisdiction": "DOMESTIC"
            }
          }
        ]
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "state": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "file_number": {
            "type": "string"
          },
          "jurisdiction": {
            "type": "string"
          }
        },
        "examples": [
          {
            "state": "DC",
            "status": "active",
            "file_number": "FN-XXXXXXX",
            "jurisdiction": "DOMESTIC"
          }
        ]
      },
      "ReviewTask": {
        "title": "ReviewTask",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "metadata": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Metadata1"
                    },
                    {
                      "examples": [
                        {
                          "id": "42d0d707-b8a8-4f3d-82f1-20d86c870206",
                          "type": "name",
                          "metadata": {
                            "name": "Facebook DC Headquarters",
                            "submitted": true
                          }
                        }
                      ]
                    }
                  ]
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": ""
          },
          "sublabel": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "business_entity_verification_id": {
            "type": "string"
          }
        },
        "examples": [
          {
            "id": "eab9c336-400c-428e-956c-fe9dc1cac86b",
            "key": "name",
            "label": "Business Name",
            "status": "success",
            "message": "Match identified to the submitted Business Name",
            "category": "name",
            "metadata": [
              {
                "id": "42d0d707-b8a8-4f3d-82f1-20d86c870206",
                "type": "name",
                "metadata": {
                  "name": "Facebook DC Headquarters",
                  "submitted": true
                }
              }
            ],
            "sublabel": "Verified",
            "created_at": "2025-04-08T10:29:06.837Z",
            "updated_at": null,
            "business_entity_verification_id": "7373b0e6-b0bd-48fd-99c8-e09861b3d192"
          }
        ]
      },
      "Metadata1": {
        "title": "Metadata1",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata2"
          }
        },
        "examples": [
          {
            "id": "42d0d707-b8a8-4f3d-82f1-20d86c870206",
            "type": "name",
            "metadata": {
              "name": "Facebook DC Headquarters",
              "submitted": true
            }
          }
        ]
      },
      "Metadata2": {
        "title": "Metadata2",
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "submitted": {
            "type": "boolean"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "full_address": {
            "type": "string"
          },
          "address_line1": {
            "type": "string"
          },
          "address_line2": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "examples": [
          {
            "name": "Facebook DC Headquarters",
            "submitted": true
          }
        ]
      },
      "Registration": {
        "title": "Registration",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "sub_status": {
            "type": [
              "string",
              "null"
            ]
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "entity_type": {
            "type": "string"
          },
          "external_id": {
            "type": "string"
          },
          "file_number": {
            "type": "string"
          },
          "jurisdiction": {
            "type": "string"
          },
          "full_addresses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          "status_details": {
            "type": [
              "string",
              "null"
            ]
          },
          "registration_date": {
            "type": "string"
          },
          "registration_state": {
            "type": "string"
          },
          "business_entity_verification_id": {
            "type": "string"
          }
        },
        "examples": [
          {
            "id": "9d8b02b6-f52c-4788-ae50-ccd69f722928",
            "name": "Facebook DC Headquarters",
            "source": "https://corponline.dcra.dc.gov/Account.aspx/LogOn",
            "status": "active",
            "created_at": "2025-04-08T10:29:06.859Z",
            "sub_status": "GOOD_STANDING",
            "updated_at": null,
            "entity_type": "CORPORATION",
            "external_id": "c2c43e9d-1c95-4236-b63b-eae4b58f7551",
            "file_number": "FN-XXXXXXX",
            "jurisdiction": "DOMESTIC",
            "full_addresses": [
              "575 7TH ST, WASHINGTON, DC 20004",
              "354 CIRCLE COURT,BRONX, NY 10468"
            ],
            "status_details": "Active-Good Standing",
            "registration_date": "2020-02-24T00:00:00.000Z",
            "registration_state": "DC",
            "business_entity_verification_id": "7373b0e6-b0bd-48fd-99c8-e09861b3d192"
          }
        ]
      },
      "TinReviewTask": {
        "title": "TinReviewTask",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "metadata": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          "sublabel": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "business_entity_verification_id": {
            "type": "string"
          }
        },
        "examples": [
          {
            "id": "4f5d669c-f60f-4d6d-90e5-02512fd59645",
            "key": "tin",
            "label": "TIN Match",
            "status": "success",
            "message": "The IRS has a record for the submitted TIN and Business Name combination",
            "category": "tin",
            "metadata": [],
            "sublabel": "Found",
            "created_at": "2025-04-08T10:29:06.837Z",
            "updated_at": null,
            "business_entity_verification_id": "7373b0e6-b0bd-48fd-99c8-e09861b3d192"
          }
        ]
      },
      "AddressSource": {
        "title": "AddressSource",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "lat": {
            "oneOf": [
              {
                "type": [
                  "number",
                  "null"
                ]
              },
              {
                "type": [
                  "string",
                  "null"
                ]
              },
              {}
            ]
          },
          "city": {
            "type": "string"
          },
          "cmra": {
            "type": "boolean"
          },
          "long": {
            "oneOf": [
              {
                "type": [
                  "number",
                  "null"
                ]
              },
              {
                "type": [
                  "string",
                  "null"
                ]
              },
              {}
            ]
          },
          "state": {
            "type": "string"
          },
          "submitted": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "deliverable": {
            "type": "boolean"
          },
          "external_id": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "full_address": {
            "type": "string"
          },
          "address_line_1": {
            "type": "string"
          },
          "address_line_2": {
            "type": [
              "string",
              "null"
            ]
          },
          "address_property_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "external_registration_id": {
            "type": "string"
          },
          "business_entity_verification_id": {
            "type": "string"
          }
        },
        "examples": [
          {
            "id": "baaee346-a4c3-42b2-b7e9-7c20b885b13f",
            "lat": 40.52,
            "city": "Washington",
            "cmra": false,
            "long": 30.4,
            "state": "DC",
            "submitted": true,
            "created_at": "2025-04-08T10:29:06.851Z",
            "updated_at": null,
            "deliverable": true,
            "external_id": "2176e801-0aee-4cee-9e67-08b06d53696a",
            "postal_code": "20004",
            "full_address": "575 7th St, Washington, DC 20004",
            "address_line_1": "575 7th St",
            "address_line_2": null,
            "address_property_type": null,
            "external_registration_id": "c2c43e9d-1c95-4236-b63b-eae4b58f7551",
            "business_entity_verification_id": "7373b0e6-b0bd-48fd-99c8-e09861b3d192"
          }
        ]
      },
      "SortedRegistration": {
        "title": "SortedRegistration",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "people": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          "source": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "sub_status": {
            "type": [
              "string",
              "null"
            ]
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "entity_type": {
            "type": "string"
          },
          "external_id": {
            "type": "string"
          },
          "file_number": {
            "type": "string"
          },
          "jurisdiction": {
            "type": "string"
          },
          "full_addresses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          "status_details": {
            "type": [
              "string",
              "null"
            ]
          },
          "registration_date": {
            "type": "string"
          },
          "registration_state": {
            "type": "string"
          },
          "business_entity_verification_id": {
            "type": "string"
          }
        },
        "examples": [
          {
            "id": "9d8b02b6-f52c-4788-ae50-ccd69f722928",
            "name": "Facebook DC Headquarters",
            "people": [],
            "source": "https://corponline.dcra.dc.gov/Account.aspx/LogOn",
            "status": "active",
            "created_at": "2025-04-08T10:29:06.859Z",
            "sub_status": "GOOD_STANDING",
            "updated_at": null,
            "entity_type": "CORPORATION",
            "external_id": "c2c43e9d-1c95-4236-b63b-eae4b58f7551",
            "file_number": "FN-XXXXXXX",
            "jurisdiction": "DOMESTIC",
            "full_addresses": [
              "575 7TH ST, WASHINGTON, DC 20004",
              "354 CIRCLE COURT,BRONX, NY 10468"
            ],
            "status_details": "Active-Good Standing",
            "registration_date": "2020-02-24T00:00:00.000Z",
            "registration_state": "DC",
            "business_entity_verification_id": "7373b0e6-b0bd-48fd-99c8-e09861b3d192"
          }
        ]
      },
      "SortedAddressSource": {
        "title": "SortedAddressSource",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "lat": {
            "oneOf": [
              {
                "type": [
                  "number",
                  "null"
                ]
              },
              {
                "type": [
                  "string",
                  "null"
                ]
              },
              {}
            ]
          },
          "city": {
            "type": "string"
          },
          "cmra": {
            "type": "boolean"
          },
          "long": {
            "oneOf": [
              {
                "type": [
                  "number",
                  "null"
                ]
              },
              {
                "type": [
                  "string",
                  "null"
                ]
              },
              {}
            ]
          },
          "state": {
            "type": "string"
          },
          "submitted": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "deliverable": {
            "type": "boolean"
          },
          "external_id": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "full_address": {
            "type": "string"
          },
          "address_line_1": {
            "type": "string"
          },
          "address_line_2": {
            "type": [
              "string",
              "null"
            ]
          },
          "address_property_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "external_registration_id": {
            "type": "string"
          },
          "business_entity_verification_id": {
            "type": "string"
          }
        },
        "examples": [
          {
            "id": "baaee346-a4c3-42b2-b7e9-7c20b885b13f",
            "lat": 40.52,
            "city": "Washington",
            "cmra": false,
            "long": 30.4,
            "state": "DC",
            "submitted": true,
            "created_at": "2025-04-08T10:29:06.851Z",
            "updated_at": null,
            "deliverable": true,
            "external_id": "2176e801-0aee-4cee-9e67-08b06d53696a",
            "postal_code": "20004",
            "full_address": "575 7th St, Washington, DC 20004",
            "address_line_1": "575 7th St",
            "address_line_2": null,
            "address_property_type": null,
            "external_registration_id": "c2c43e9d-1c95-4236-b63b-eae4b58f7551",
            "business_entity_verification_id": "7373b0e6-b0bd-48fd-99c8-e09861b3d192"
          }
        ]
      },
      "BusinessNameReviewTask": {
        "title": "BusinessNameReviewTask",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Metadata4"
            },
            "description": ""
          },
          "sublabel": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "business_entity_verification_id": {
            "type": "string"
          }
        },
        "examples": [
          {
            "id": "eab9c336-400c-428e-956c-fe9dc1cac86b",
            "key": "name",
            "label": "Business Name",
            "status": "success",
            "message": "Match identified to the submitted Business Name",
            "category": "name",
            "metadata": [
              {
                "id": "42d0d707-b8a8-4f3d-82f1-20d86c870206",
                "type": "name",
                "metadata": {
                  "name": "Facebook DC Headquarters",
                  "submitted": true
                }
              }
            ],
            "sublabel": "Verified",
            "created_at": "2025-04-08T10:29:06.837Z",
            "updated_at": null,
            "business_entity_verification_id": "7373b0e6-b0bd-48fd-99c8-e09861b3d192"
          }
        ]
      },
      "Metadata4": {
        "title": "Metadata4",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata5"
          }
        },
        "examples": [
          {
            "id": "42d0d707-b8a8-4f3d-82f1-20d86c870206",
            "type": "name",
            "metadata": {
              "name": "Facebook DC Headquarters",
              "submitted": true
            }
          }
        ]
      },
      "Metadata5": {
        "title": "Metadata5",
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "submitted": {
            "type": "boolean"
          }
        },
        "examples": [
          {
            "name": "Facebook DC Headquarters",
            "submitted": true
          }
        ]
      },
      "WatchListAndTaxIdVerification": {
        "title": "WatchListAndTaxIdVerification",
        "type": "object",
        "properties": {
          "tin": {
            "$ref": "#/components/schemas/Tin"
          },
          "people": {
            "$ref": "#/components/schemas/People"
          },
          "addresses": {
            "$ref": "#/components/schemas/Addresses"
          },
          "sos_match": {
            "$ref": "#/components/schemas/SosMatch"
          },
          "tin_match": {
            "$ref": "#/components/schemas/TinMatch"
          },
          "watchlist": {
            "$ref": "#/components/schemas/Watchlist"
          },
          "legal_name": {
            "$ref": "#/components/schemas/LegalName"
          },
          "name_match": {
            "$ref": "#/components/schemas/NameMatch"
          },
          "sos_active": {
            "$ref": "#/components/schemas/SosActive"
          },
          "corporation": {
            "$ref": "#/components/schemas/Corporation"
          },
          "sos_filings": {
            "$ref": "#/components/schemas/SosFilings"
          },
          "woman_owned": {
            "$ref": "#/components/schemas/WomanOwned"
          },
          "address_match": {
            "$ref": "#/components/schemas/AddressMatch"
          },
          "kyb_submitted": {
            "$ref": "#/components/schemas/KybSubmitted"
          },
          "veteran_owned": {
            "$ref": "#/components/schemas/VeteranOwned"
          },
          "formation_date": {
            "$ref": "#/components/schemas/FormationDate"
          },
          "minority_owned": {
            "$ref": "#/components/schemas/MinorityOwned"
          },
          "watchlist_hits": {
            "$ref": "#/components/schemas/WatchlistHits"
          },
          "formation_state": {
            "$ref": "#/components/schemas/FormationState"
          },
          "names_submitted": {
            "$ref": "#/components/schemas/NamesSubmitted"
          },
          "primary_address": {
            "$ref": "#/components/schemas/PrimaryAddress"
          },
          "people_watchlist": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          "year_established": {
            "$ref": "#/components/schemas/YearEstablished"
          },
          "sos_match_boolean": {
            "$ref": "#/components/schemas/SosMatchBoolean"
          },
          "tin_match_boolean": {
            "$ref": "#/components/schemas/TinMatchBoolean"
          },
          "name_match_boolean": {
            "$ref": "#/components/schemas/NameMatchBoolean"
          },
          "address_verification": {
            "$ref": "#/components/schemas/AddressVerification"
          },
          "watchlist_hits_count": {
            "type": "integer",
            "contentEncoding": "int32"
          },
          "address_match_boolean": {
            "$ref": "#/components/schemas/AddressMatchBoolean"
          },
          "addresses_deliverable": {
            "$ref": "#/components/schemas/AddressesDeliverable"
          },
          "address_registered_agent": {
            "$ref": "#/components/schemas/AddressRegisteredAgent"
          },
          "businessEntityVerification": {
            "$ref": "#/components/schemas/BusinessEntityVerification"
          },
          "address_verification_boolean": {
            "$ref": "#/components/schemas/AddressVerificationBoolean"
          }
        },
        "examples": [
          {
            "tin": {
              "name": "tin",
              "value": "786878929",
              "alternatives": [
                {
                  "value": "786878929",
                  "source": 16,
                  "confidence": 0.95
                }
              ],
              "source.confidence": 0.95,
              "source.platformId": 16
            },
            "people": {
              "name": "people",
              "value": [],
              "alternatives": [
                {
                  "value": [],
                  "source": 16,
                  "confidence": 0.95
                }
              ],
              "source.confidence": 0.95,
              "source.platformId": 16
            },
            "addresses": {
              "name": "addresses",
              "value": [
                "575 7th St, Washington, DC 20004",
                "354 Circle Court,Bronx, NY 10468"
              ],
              "alternatives": [
                {
                  "value": [
                    "575 7th St, Washington, DC 20004",
                    "354 Circle Court,Bronx, NY 10468"
                  ],
                  "source": 16,
                  "confidence": 0.95
                }
              ],
              "source.confidence": 0.95,
              "source.platformId": 16
            },
            "sos_match": {
              "name": "sos_match",
              "value": "success",
              "alternatives": [
                {
                  "value": "success",
                  "source": 16,
                  "confidence": 0.95
                }
              ],
              "source.confidence": 0.95,
              "source.platformId": 16
            },
            "tin_match": {
              "name": "tin_match",
              "value": {
                "status": "success",
                "message": "The IRS has a record for the submitted TIN and Business Name combination",
                "sublabel": "Found"
              },
              "alternatives": [
                {
                  "value": {
                    "status": "success",
                    "message": "The IRS has a record for the submitted TIN and Business Name combination",
                    "sublabel": "Found"
                  },
                  "source": 16,
                  "confidence": 0.95
                }
              ],
              "source.confidence": 0.95,
              "source.platformId": 16
            },
            "watchlist": {
              "name": "watchlist",
              "value": {
                "message": "No Watchlist hits were identified",
                "metadata": []
              },
              "alternatives": [
                {
                  "value": {
                    "message": "No Watchlist hits were identified",
                    "metadata": []
                  },
                  "source": 16,
                  "confidence": 0.95
                }
              ],
              "source.confidence": 0.95,
              "source.platformId": 16
            },
            "legal_name": {
              "name": "legal_name",
              "value": "Facebook DC Headquarters",
              "alternatives": [
                {
                  "value": "Facebook DC Headquarters",
                  "source": 16,
                  "confidence": 0.95
                }
              ],
              "source.confidence": 0.95,
              "source.platformId": 16
            },
            "name_match": {
              "name": "name_match",
              "value": {
                "status": "success",
                "message": "Match identified to the submitted Business Name",
                "sublabel": "Verified"
              },
              "alternatives": [
                {
                  "value": {
                    "status": "success",
                    "message": "Match identified to the submitted Business Name",
                    "sublabel": "Verified"
                  },
                  "source": 16,
                  "confidence": 0.95
                }
              ],
              "source.confidence": 0.95,
              "source.platformId": 16
            },
            "sos_active": {
              "name": "sos_active",
              "value": true,
              "alternatives": [
                {
                  "value": true,
                  "source": 16,
                  "confidence": 0.95
                }
              ],
              "source.confidence": 0.95,
              "source.platformId": 16
            },
            "corporation": {
              "name": "corporation",
              "value": null,
              "alternatives": []
            },
            "sos_filings": {
              "name": "sos_filings",
              "value": [
                {
                  "id": "c2c43e9d-1c95-4236-b63b-eae4b58f7551",
                  "url": "https://corponline.dcra.dc.gov/Account.aspx/LogOn",
                  "state": "DC",
                  "active": true,
                  "entity_type": "CORPORATION",
                  "filing_date": "2020-02-24T00:00:00.000Z",
                  "filing_name": "Facebook DC Headquarters",
                  "registration_date": "2020-02-24T00:00:00.000Z",
                  "internal_reference": "9d8b02b6-f52c-4788-ae50-ccd69f722928"
                },
                {
                  "id": "090610a3-623d-4979-b736-4a8493f20676",
                  "url": "https://www.sos.state.co.us/biz/BusinessEntityCriteriaExt.do",
                  "state": "CO",
                  "active": true,
                  "entity_type": "CORPORATION",
                  "filing_date": "2020-02-24T00:00:00.000Z",
                  "filing_name": "Facebook DC Headquarters",
                  "registration_date": "2020-02-24T00:00:00.000Z",
                  "internal_reference": "f94f8c06-dd58-4e33-91e9-cef280a6f8d1"
                }
              ],
              "alternatives": [
                {
                  "value": [
                    {
                      "id": "c2c43e9d-1c95-4236-b63b-eae4b58f7551",
                      "url": "https://corponline.dcra.dc.gov/Account.aspx/LogOn",
                      "state": "DC",
                      "active": true,
                      "entity_type": "CORPORATION",
                      "filing_date": "2020-02-24T00:00:00.000Z",
                      "filing_name": "Facebook DC Headquarters",
                      "registration_date": "2020-02-24T00:00:00.000Z",
                      "internal_reference": "9d8b02b6-f52c-4788-ae50-ccd69f722928"
                    },
                    {
                      "id": "090610a3-623d-4979-b736-4a8493f20676",
                      "url": "https://www.sos.state.co.us/biz/BusinessEntityCriteriaExt.do",
                      "state": "CO",
                      "active": true,
                      "entity_type": "CORPORATION",
                      "filing_date": "2020-02-24T00:00:00.000Z",
                      "filing_name": "Facebook DC Headquarters",
                      "registration_date": "2020-02-24T00:00:00.000Z",
                      "internal_reference": "f94f8c06-dd58-4e33-91e9-cef280a6f8d1"
                    }
                  ],
                  "source": 16,
                  "confidence": 0.95
                }
              ],
              "source.confidence": 0.95,
              "source.platformId": 16
            },
            "woman_owned": {
              "name": "woman_owned",
              "value": null,
              "alternatives": []
            },
            "address_match": {
              "name": "address_match",
              "value": "success",
              "alternatives": [
                {
                  "value": "success",
                  "confidence": 0.9
                }
              ],
              "dependencies": [
                "primary_address",
                "addresses"
              ]
            },
            "kyb_submitted": {
              "name": "kyb_submitted",
              "value": true,
              "alternatives": [
                {
                  "value": true,
                  "source": 16,
                  "confidence": 0.95
                }
              ],
              "source.confidence": 0.95,
              "source.platformId": 16
            },
            "veteran_owned": {
              "name": "veteran_owned",
              "value": null,
              "alternatives": []
            },
            "formation_date": {
              "name": "formation_date",
              "value": "2020-02-24T00:00:00.000Z",
              "alternatives": [
                {
                  "value": "2020-02-24T00:00:00.000Z",
                  "source": 16,
                  "confidence": 0.95
                }
              ],
              "source.confidence": 0.95,
              "source.platformId": 16
            },
            "minority_owned": {
              "name": "minority_owned",
              "value": null,
              "alternatives": []
            },
            "watchlist_hits": {
              "name": "watchlist_hits",
              "value": null,
              "alternatives": []
            },
            "formation_state": {
              "name": "formation_state",
              "value": "DC",
              "alternatives": [
                {
                  "value": "DC",
                  "source": 16,
                  "confidence": 0.95
                }
              ],
              "source.confidence": 0.95,
              "source.platformId": 16
            },
            "names_submitted": {
              "name": "names_submitted",
              "value": [
                {
                  "name": "Facebook DC Headquarters",
                  "submitted": true
                }
              ],
              "alternatives": [
                {
                  "value": [
                    {
                      "name": "Facebook DC Headquarters",
                      "submitted": true
                    }
                  ],
                  "source": 16,
                  "confidence": 0.95
                }
              ],
              "source.confidence": 0.95,
              "source.platformId": 16
            },
            "primary_address": {
              "name": "primary_address",
              "value": {
                "city": "Washington",
                "state": "DC",
                "line_1": "575 7th Street Northwest",
                "mobile": null,
                "country": "USA",
                "apartment": "",
                "is_primary": true,
                "postal_code": "20004"
              },
              "alternatives": [
                {
                  "value": {
                    "city": "Washington",
                    "state": "DC",
                    "line_1": "575 7th Street Northwest",
                    "mobile": null,
                    "country": "USA",
                    "apartment": "",
                    "is_primary": true,
                    "postal_code": "20004"
                  },
                  "confidence": 0.99
                }
              ],
              "source.confidence": 0.99
            },
            "people_watchlist": [],
            "year_established": {
              "name": "year_established",
              "value": "2020",
              "alternatives": [
                {
                  "value": "2020",
                  "source": 16,
                  "confidence": 0.95
                }
              ],
              "source.confidence": 0.95,
              "source.platformId": 16
            },
            "sos_match_boolean": {
              "name": "sos_match_boolean",
              "value": true,
              "alternatives": [
                {
                  "value": true
                }
              ],
              "dependencies": [
                "sos_match"
              ]
            },
            "tin_match_boolean": {
              "name": "tin_match_boolean",
              "value": false,
              "alternatives": [
                {
                  "value": false
                }
              ],
              "dependencies": [
                "tin_match"
              ]
            },
            "name_match_boolean": {
              "name": "name_match_boolean",
              "value": true,
              "alternatives": [
                {
                  "value": true
                }
              ],
              "dependencies": [
                "name_match"
              ]
            },
            "address_verification": {
              "name": "address_verification",
              "value": {
                "label": "Office Address",
                "status": "success",
                "message": "Match identified to the submitted Office Address",
                "sublabel": "Verified",
                "addresses": [
                  "575 7th St, Washington, DC 20004",
                  "354 Circle Court,Bronx, NY 10468"
                ]
              },
              "alternatives": [
                {
                  "value": {
                    "label": "Office Address",
                    "status": "success",
                    "message": "Match identified to the submitted Office Address",
                    "sublabel": "Verified",
                    "addresses": [
                      "575 7th St, Washington, DC 20004",
                      "354 Circle Court,Bronx, NY 10468"
                    ]
                  },
                  "source": 16,
                  "confidence": 0.95
                }
              ],
              "source.confidence": 0.95,
              "source.platformId": 16
            },
            "watchlist_hits_count": 0,
            "address_match_boolean": {
              "name": "address_match_boolean",
              "value": true,
              "alternatives": [
                {
                  "value": true
                }
              ],
              "dependencies": [
                "address_match"
              ]
            },
            "addresses_deliverable": {
              "name": "addresses_deliverable",
              "value": [
                "575 7th St, Washington, DC 20004",
                "354 Circle Court,Bronx, NY 10468"
              ],
              "alternatives": [
                {
                  "value": [
                    "575 7th St, Washington, DC 20004",
                    "354 Circle Court,Bronx, NY 10468"
                  ],
                  "source": 16,
                  "confidence": 0.95
                }
              ],
              "source.confidence": 0.95,
              "source.platformId": 16
            },
            "address_registered_agent": {
              "name": "address_registered_agent",
              "value": null,
              "alternatives": []
            },
            "businessEntityVerification": {
              "id": "7373b0e6-b0bd-48fd-99c8-e09861b3d192",
              "tin": "786878929",
              "name": "Facebook DC Headquarters",
              "status": "in_review",
              "created_at": "2025-04-08T10:29:05.516Z",
              "updated_at": null,
              "business_id": "26a5d832-3f4e-4b43-84f2-e19c594bd7c1",
              "external_id": "b3099cfa-638a-45c9-8da8-c5a480c0c008",
              "formation_date": "2020-02-24T00:00:00.000Z",
              "formation_state": "DC",
              "unique_external_id": "e97d6add-1812-4388-b1a3-67876e449a18",
              "business_integration_task_id": "a86795e7-87f2-4e06-97ef-46fa994cd269"
            },
            "address_verification_boolean": {
              "name": "address_verification_boolean",
              "value": true,
              "alternatives": [
                {
                  "value": true
                }
              ],
              "dependencies": [
                "address_verification"
              ]
            }
          }
        ]
      },
      "Tin": {
        "title": "Tin",
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "alternatives": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alternative"
            },
            "description": ""
          },
          "source.confidence": {
            "type": "number"
          },
          "source.platformId": {
            "type": "integer",
            "contentEncoding": "int32"
          }
        },
        "examples": [
          {
            "name": "tin",
            "value": "786878929",
            "alternatives": [
              {
                "value": "786878929",
                "source": 16,
                "confidence": 0.95
              }
            ],
            "source.confidence": 0.95,
            "source.platformId": 16
          }
        ]
      },
      "Alternative": {
        "title": "Alternative",
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "source": {
            "type": "integer",
            "contentEncoding": "int32"
          },
          "confidence": {
            "type": "number"
          }
        },
        "examples": [
          {
            "value": "786878929",
            "source": 16,
            "confidence": 0.95
          }
        ]
      },
      "People": {
        "title": "People",
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          "alternatives": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alternative1"
            },
            "description": ""
          },
          "source.confidence": {
            "type": "number"
          },
          "source.platformId": {
            "type": "integer",
            "contentEncoding": "int32"
          }
        },
        "examples": [
          {
            "name": "people",
            "value": [],
            "alternatives": [
              {
                "value": [],
                "source": 16,
                "confidence": 0.95
              }
            ],
            "source.confidence": 0.95,
            "source.platformId": 16
          }
        ]
      },
      "Alternative1": {
        "title": "Alternative1",
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          "source": {
            "type": "integer",
            "contentEncoding": "int32"
          },
          "confidence": {
            "type": "number"
          }
        },
        "examples": [
          {
            "value": [],
            "source": 16,
            "confidence": 0.95
          }
        ]
      },
      "Addresses": {
        "title": "Addresses",
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          "alternatives": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alternative1"
            },
            "description": ""
          },
          "source.confidence": {
            "type": "number"
          },
          "source.platformId": {
            "type": "integer",
            "contentEncoding": "int32"
          }
        },
        "examples": [
          {
            "name": "addresses",
            "value": [
              "575 7th St, Washington, DC 20004",
              "354 Circle Court,Bronx, NY 10468"
            ],
            "alternatives": [
              {
                "value": [
                  "575 7th St, Washington, DC 20004",
                  "354 Circle Court,Bronx, NY 10468"
                ],
                "source": 16,
                "confidence": 0.95
[...]
